            <h3>
              Palliative Care Intervention for Socioeconomically Disadvantaged
              Advanced Cancer Patients
            </h3>
            <p class="text-justify">
              <strong>Purpose</strong> — To test the efficacy of a collaborative
              care intervention to reduce symptoms of pain, depression, and
              fatigue in patients diagnosed with cancer. The study will also
              assess the predictors of caregiving on cardiovascular risk.
              <br />
              <strong>Principal Investigator</strong> — Jennifer Steel, PhD
            </p>

            <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Funding Agency</th>
                  <th scope="col">Title</th>
                  <th scope="col">Role</th>
                  <th scope="col">Year(s)</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    National Cancer Institute<br />
                    R01CA196953
                  </td>
                  <td>
                    Palliative care intervention for socioeconomically
                    disadvantaged cancer patients
                  </td>
                  <td>
                    PI<br />
                    16% effort
                  </td>
                  <td>2016-2021</td>
                  <td>
                    Total: $3,784,611<br />
                    Direct: $396,167<br />
                    Indirect: $222,844
                  </td>
                </tr>
              </tbody>
            </table>
            <hr class="p-2 m-2" />
            <h3>
              Dyadic Sleep Intervention
            </h3>
            <p class="text-justify">
              <strong>Purpose</strong> — To test the efficacy of a dyadic sleep
              intervention for those diagnosed with cancer and their spouses or
              intimate partners.
              <br />
              <strong>Principal Investigator</strong> — Jennifer Steel, PhD
            </p>
            <hr class="p-2 m-2" />
            <h3>
              Distress after Stopping Immunotherapy
            </h3>
            <p class="text-justify">
              <strong>Purpose</strong> — To test the efficacy of an intervention
              to reduce distress and fear of recurrence after stopping
              immunotherapy.
              <br />
              <strong>Principal Investigator</strong> — Jennifer Steel, PhD
            </p>