<p class="text-justify">
              <strong>Purpose</strong> — To examine the psychosocial,
              behavioral, gut bacterial, and biological predictors of
              cardiovascular disease during caregiving and bereavement.
              <br />
              <strong>Principal Investigator</strong> — Jennifer Steel, PhD
            </p>