          <h3>
              Local
            </h3>
            <p class="text-justify">
              1. 2006 Caring for the Terminally University of Pittsburgh
              School of Medicine; Starzl Transplantation Institute Nursing
              Staff. Pittsburgh, PA.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              2. 2007 Caring for the Terminally University of Pittsburgh
              School of Medicine; Starzl Transplantation Institute Support
              Staff. Pittsburgh, PA (2007).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              3. 2014 Psychological and Health Consequences of Traumatic
              Injury (and EMS). Western Pennsylvania annual EMS update. Seven
              Springs, PA
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              4. 2016 The Independent Living Donor Advocate. University of
              Pittsburgh Medical Center; Department of Care Coordination.
              Pittsburgh, PA.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              5. 2016 Transplant Ethics. University of Pittsburgh Medical
              Center; Department of Care Coordination. Pittsburgh, PA.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              6. 2017 University of Pittsburgh Cancer Institute’s (UPCI)
              Biobehavioral Oncology Program Poster Competition Judge for the
              UPCI Retreat. Pittsburgh, PA
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              7. 2018 Physical activity and cancer. American Cancer Society
              Relay. Pittsburgh PA.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              8. 2018 Living Liver Donor Advocacy, UPMC Transplant Hepatology
              Fellows Seminar
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              9. 2019 Predictors of Metabolic Syndrome in Cancer Caregivers,
              Biobehavioral Oncology, University of Pittsburgh Cancer
              Institute
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              10. 2018 Bioethics of living donation. Ethics Committee, Mercy
              Hospital, Pittsburgh PA.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              11. 2018 Sleep problems in advanced cancer patients and their
              family caregivers. Grand Rounds. Sleep and Circadian Rhythms.
              Pittsburgh, PA
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              12. 2018 Ethical Considerations of Living Liver Donors.
              Hepatology Fellows
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              13. 2019 Center for Excellence in Behavioral Medicine Research.
              Association of Women Surgeons: Pittsburgh Chapter
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              14. 2019 Shaping the Future: Models of Integrated Care at UPMC
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              15. 2020 Inaugural Cancer and Caregiving Research Conference and
              Caregiver Workshop
            </p>
            <br />
            <h3>
              Regional
            </h3>
            <p class="text-justify">
              1. 2017 Ethical Considerations of Live Donors. 2017 Update in
              Abdominal Transplantation Medicine and Surgery.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              2. 2019 Stepped Collaborative Care Intervention for Patients
              Diagnosed with Comorbid Cancer and Depression. Hematology
              Oncology Associates.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              3. 2019 Stepped Collaborative Care Intervention for Patients
              Diagnosed with Comorbid Cancer and Depression. Oncology
              Hematology Associates.
            </p>
            <br />
            <h3>
              National
            </h3>
            <p class="text-justify">
              1. 1997 Social Networks as a determinant of sexual behavior in
              middle childhood. Presented as a roundtable discussion at the
              Society for the Scientific Study of Sex Conference. Arlington,
              Virginia (1997).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              2. 2006 Co-chair for Psychological and Person Factors in Health
              and Behavior Change. San Francisco, CA.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              3. 2007 Co-Chair session entitled Psychological and Person
              Factors in Health and Behavior Change Track at the 2007 Annual
              Meeting for the Society of Behavioral Medicine, Washington, DC.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              4. 2008 Roundtable discussion regarding the Institute of
              Medicine’s (IOM) recommendation on quality and implementation of
              psychosocial care in oncology. American Psycho-Oncology Society.
              Irvine, California.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              5. 2008 Second Annual Summit on Behavioral Telehealth:
              Technology for Behavior Change and Disease management. Harvard
              University. Boston, Massachusetts.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              6. 2011 Second Annual Thought Leaders Conference on Minimally
              Invasive Pancreatic Surgery. Pittsburgh, PA.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              7. 2011 A national survey of living donor advocates. Invited
              lecture for a Department of Health and Human Services webinar.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              8. 2012 Meta-analysis of the efficacy of interventions for
              depressive symptoms in adults diagnosed with cancer. In S.
              Sheinfeld-Gorin (Chair). A tale of three systematic reviews:
              What have we learned about reducing pain, depression, and
              fatigue among cancer survivors? Symposium. Society for
              Behavioral Medicine. New Orleans, LA (2012).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              9. 2014 Biobehavioral pathways linking stress and cancer
              progression. National Institute of Health Stress and Sleep:
              Integration of Behavioral, Social, Environmental and
              Physiological Processes. National Institute of Health.
              Rockville, MD.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              10. 2014 Patient related factors and caregiver stress and
              depression in advanced cancer. Society for Behavioral Medicine,
              Philadelphia, PA.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              11. 2015 Sleep problems in advanced cancer patients and their
              spousal and intimate partner caregivers. Fred Hutch Cancer
              Center, Seattle, WA.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              12. 2015 Invited to attend the Palliative Care Research
              Cooperative: A national network to advance end of life and
              palliative care science. Rockville, MD.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              13. 2015 Moderator for the American Society of Transplantation
              Education and Clinical Tools for the Independent Living Donor
              Advocate webinar series: Navigating the ILDA Role: Challenges
              and Responsibilities. Arlington, VA
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              14. 2015 Moderator for the American Society of Transplantation
              Education and Clinical Tools for the Independent Living Donor
              Advocate webinar series: Medical Ethics: Concepts and ILDA
              Practice. Arlington, VA
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              15. 2016 Moderator of Distress Screening-Embedding Screening
              throughout Cancer Care Delivery Systems. American
              Psycho-Oncology Society. San Diego, CA.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              16. 2017 Society for Behavioral Medicine poster session mentor.
              Washington DC.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              17. 2019 Innovative Translational Research Approaches to Enhance
              Cancer Caregivers' Health, Atlanta GA.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              18. 2019 Stepped Collaborative Care Intervention for Patients
              Diagnosed with Comorbid Cancer and Depression. Center for
              Medicare and Medicaid, Innovation Center.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              19. 2019 Stepped Collaborative Care Intervention for Patients
              Diagnosed with Comorbid Cancer and Depression. National Cancer
              Institute.
            </p>
            <br />
            <h3>
              International
            </h3>
            <p class="text-justify">
              1. 2005 American University in Cairo; Forced Migration and
              Refugees Studies. The consequences and Benefits of
              Pre-Emigration Trauma and Post Migration Stress. Cairo, Egypt.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              2. 2011 The independent and cumulative effects of caregiving and
              bereavement on health. Antalya, Turkey.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              3. 2011 Dyadic functioning in advanced cancer patients and their
              family caregivers. Antalya, Turkey.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              4. 2011 Depressive symptoms and life satisfaction among bereaved
              cancer caregivers. A longitudinal investigation. Antalya,
              Turkey.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              5. 2013 A national survey of living donor advocates. Invited
              lecture at the Istituto Mediterraneo per i Trapianti e Terapie
              adAlta Specializzazione. Palermo, Italy.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              6. 2013 The role of depression in the immodulation of
              depression. Invited lecture for the Istituto Mediterraneo per i
              Trapianti e Terapie ad Alta Specializzazione, Palermo Italy
              (2013).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              7. 2013 A national survey of living donor advocates. Invited
              lecture at the International Transplant Nurses Society.
              Florence, Italy.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              8. 2014 Gender and age differences in sleep problems in advanced
              cancer patients. International Psycho-Oncology Society. Lisbon,
              Portugal.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              9. 2014 Depression, inflammation in the tumor microenvironment,
              and survival in advanced cancer. Third International Conference
              on Tumor Microenvironment and Cellular Stress: Signaling,
              Metabolism, Imaging and Therapeutic Targets, Mykonos, Greece.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              10. 2015 Moderator for the International Society for Traumatic
              Stress Studies 31st Annual Conference. Biomedical and Genetics
              Paper Session. New Orleans, LA.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              11. 2016 Symposium: Post traumatic growth and spirituality:
              Psychological and immunological correlates. Psycho-oncology. San
              Diego, CA
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              12. 2016 The underlying biological mechanisms linking
              psychological factors and mortality. International Association
              of Surgeons, Gastroenterologists, and Oncologists. Seoul, Korea.
            </p>
            <br />
            <h3>
              Media
            </h3>
            <p class="text-justify">
              1. 2012 KDKA radio interview with Rick Bergman. Joe Paterno died
              of a broken heart. Pittsburgh, PA.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              2. 2016 Steel JL. The Development of Practice Guidelines for
              Independent Living Donor Advocates Interview for Healthcare
              Business Insights.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              3. 2016 Advocating for Donor Decisions. University of Pittsburgh
              Medical Center’s First Friday. Pittsburgh, PA.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              4. 2017 Living Donor Advocacy. University of Pittsburgh Medical
              Center OnTopic video. Pittsburgh, PA
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              5. 2017 Cancer patients show symptom improvements using
              web-based collaborative care intervention. American
              Psychosomatic Society Press Release. Seville, Spain.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              6. 2018 Physical inactivity and alcohol use after diagnosis of
              gastrointestinal cancer predicts poorer survival. Interview for
              the ASCO Post
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              7. 2018 Living liver donation. O (Oprah) Magazine. November 2018
            </p>