<h3>
              Pain Reduction and Opioid Medication Safety in ESRD (PROMISE)
              study
            </h3>
            <p class="text-justify">
              <strong>Purpose</strong> — To test the efficacy of a pain coping
              skills intervention and buprenorphine in patients diagnosed with
              advanced kidney disease.
              <br />
              <strong>Principal Investigator</strong> — Jennifer Steel, PhD
            </p>
            <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Funding Agency</th>
                  <th scope="col">Title</th>
                  <th scope="col">Role</th>
                  <th scope="col">Year(s)</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    National Institute of Diabetes, Digestive, and Kidney
                    Diseases<br />
                    U01DK123812
                  </td>
                  <td>
                    Pain reduction and opioid medication safety in ESRD
                    (PROMISE) study
                  </td>
                  <td>
                    Co-PI<br />
                    15% effort
                  </td>
                  <td>2019-2023</td>
                  <td>
                    Total: $46,233<br />
                    Direct: $29,542<br />
                    Indirect: $16,691<br />
                    Total Pitt: $2,480,789<br />
                    Total: ~$27,000,000
                  </td>
                </tr>
              </tbody>
            </table>
            <hr class="p-2 m-2" />
            <h3>
              Technology Assisted Stepped Collaborative Care Intervention to
              Improve Patient Centered Outcomes in Hemodialysis Patients
            </h3>
            <p class="text-justify">
              <strong>Purpose</strong> — To test the efficacy of a collaborative
              care intervention to reduce symptoms of pain, depression, and
              fatigue in patients diagnosed with cancer.
              <br />
              <strong>Principal Investigator</strong> — Jennifer Steel, PhD
            </p>
            <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Funding Agency</th>
                  <th scope="col">Title</th>
                  <th scope="col">Role</th>
                  <th scope="col">Year(s)</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    National Institute of Diabetes, Digestive, and Kidney
                    Diseases<br />
                    R01DK114085
                  </td>
                  <td>
                    Technology assisted stepped collaborative care to improve
                    patient-centered outcomes in hemodialysis patients
                  </td>
                  <td>
                    Co-I<br />
                    15% effort
                  </td>
                  <td>2018-2022</td>
                  <td>
                    Total: $3,750,000<br />
                    Direct: $509,258<br />
                    Indirect: $162,010
                  </td>
                </tr>
              </tbody>
            </table>