
                    <h3>
                        INVITED PUBLISHED PAPERS
                    </h3>
                    <p class="text-justify">
                        1. <strong>Steel JL</strong>, Geller, DA, Gamblin TC, Olek M.,
                        Carr BI. Reply to “More claims about depression, immune
                        function, and survival that exceed the evidence.” By James C.
                        Coyne and Steven C. Palmer. Journal of Clinical Oncology, 2007;
                        25(33): 5328-5329.
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        2. <strong>Steel JL</strong> & Dew MA. Consultation-Liaison
                        Psychiatry for the Novice. Review of book, Handbook of
                        Consultation-Liaison Psychiatry, by H. Leigh and J. Streltzer.
                        American Psychological Association PsychCritiques; 2009.
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        3. <strong>Steel JL</strong>. Health-related quality of life is
                        prognostic of survival in patients with cancer. Medscape Medical
                        News; 2010, WebMD; 2010.
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        4. Luchette F & <strong>Steel JL</strong>. Response to
                        Health-related quality of life in patients with multiple
                        injuries and traumatic brain injury 10+ years post injury.
                        Journal of Traumatic Injury, Infection, and Critical Care, 2010;
                        69(3): 530.
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        5. <strong>Steel JL</strong>. Article written and interviewed by
                        MacKenzie Carpenter. Family: Joe Paterno did not die of a broken
                        heart. Pittsburgh Post-Gazette. January 26, 2012.
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        6. <strong>Steel JL</strong>. Coping with a diagnosis of cancer.
                        Encyclopedia of quality of life research. Springer, New York,
                        NY; 2014.
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        7. Collins KP, Geller DA, Antoni M, Donnell DM, Tsung A, Marsh
                        JW, Burk L, Penedo F, Terhorst L, Kim K, Kamarck TW, Greene A,
                        Buysse DJ, <strong>Steel JL</strong>. Reuters Health. Sleep
                        duration is associated with survival in advanced cancer patients
                        (2017).
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        8. Collins KP, Geller DA, Antoni M, Donnell DM, Tsung A, Marsh
                        JW, Burk L, Penedo F, Terhorst L, Kim K, Kamarck TW, Greene A,
                        Buysse DJ, <strong>Steel JL</strong>. National Cancer Institute
                        Newsletter. Sleep duration is associated with survival in
                        advanced cancer patients (2017).
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        9. Dew MA, Posluszny D, DiMartini AF, Myaskovsky L,
                        <strong>Steel JL</strong>, DeVito Dabbs A. Posttransplant
                        medical adherence: What have we learned and can we do better?
                        Current Transplant Reports, 2018 Jun;5(2):174-188.
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        10. <strong>Steel JL</strong>. Coping with a diagnosis of
                        cancer. Encyclopedia of quality of life research. Springer, New
                        York, NY; 2020.
                    </p>
                    <br />
                    <h3>
                        WHITE PAPERS
                    </h3>
                    <p class="text-justify">
                        1. Clark J, Carrier J, Freeman W, Gordon E, Hillman N,
                        Murdock-Stillion L, Olenick D, Ravichandran P, Reese P, Rocha D,
                        <strong>Steel J</strong>, Veatch R, Waz W. The ethics of
                        deceased organ recovery without requirement for explicit consent
                        or authorization. United Network for Organ Sharing Ethics
                        Committee (2016).
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        2. Courtenay BR, Olenick D, Gordon E, <strong>Steel JL</strong>,
                        Freeman W, Hillman N. Ethical Considerations Associated with
                        Financial Incentives for Organ Donation. United Network for
                        Organ Sharing Ethics Committee (2017).
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        3. Clark J, Carrier J, Freeman W, Gordon E, Hillman N,
                        Murdock-Stillion L, Olenick D, Ravichandran P, Reese P, Rocha D,
                        <strong>Steel J</strong>, Veatch R, Waz W. Living Non-Directed
                        Organ Donation. United Network for Organ Sharing Ethics
                        Committee (2016).
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        4. <strong>Steel JL</strong>, Freeman W, Qamar A, Major B.
                        Stoker H, Veatch R, Bolton L. Guidance regarding living donation
                        by a fatally or terminally ill person who has the capacity for
                        informed consent. United Network for Organ Sharing Ethics
                        Committee (2017).
                    </p>
                    <br />
                    <h3>
                        BOOKS
                    </h3>
                    <p class="text-justify">
                        1. Carr BI and <strong>Steel JL</strong> (Eds). Psychological
                        aspects of cancer: A guide for emotional and psychological
                        consequences of cancer, their causes and their management. New
                        York NY: Springer Publishing; 2013.
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        2. <strong>Steel JL</strong> (Ed). Living Donor Advocacy: An
                        evolving role within transplantation. New York NY: Springer
                        Publishing; 2014.
                    </p>
                    <br />
                    <h3>
                        BOOK CHAPTERS
                    </h3>
                    <p class="text-justify">
                        1. Meyer-Bahlburg HFL & <strong>Steel JL</strong>. Using the
                        parents as a source of information about the child: With a
                        special emphasis on the Sex Problems Scale of the Child Behavior
                        Checklist. In J. Bancroft (Ed.) Sexual Development in Childhood,
                        Indiana University Press; 2003.
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        2. <strong>Steel JL</strong>, Carr BI, Olek M, Gamblin TC.
                        Health-related quality of life in patients diagnosed with
                        hepatobiliary carcinoma. U.S. Gastroenterology Review 1:87-90;
                        2007.
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        3. <strong>Steel JL</strong>, DiMartini A, Dew MA. Psychosocial
                        issues in hepatocellular carcinoma. In BI Carr (Ed.),
                        Hepatocellular Carcinoma, 2nd edition. New York, NY: Spring
                        Publishing; 2010.
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        4. <strong>Steel JL</strong>, Carney M, Midboe A. The
                        intersection between cancer and caregiver survivorship. In Carr
                        BI and Steel JL (Eds). Psychological aspects of cancer: A guide
                        for emotional and psychological consequences of cancer, their
                        causes and their management. New York NY: Springer Publishing;
                        2012.
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        5. <strong>Steel JL</strong>, Dunlavy A, Friday M, Kingsley K,
                        Brower D, Unruh M, Tan H, Shapiro R, Peltz M, Hardoby M,
                        McCloskey C, Sturdevant M, Humar A. Recommendation for the
                        development of practice guidelines for ILDAs. In Steel JL (Ed)
                        Living Donor Advocacy: An evolving role in transplantation. New
                        York NY: Springer Publishing; 2014.
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        6. <strong>Steel JL</strong>, Dunlavy A, Friday M, Kingsley K,
                        Brower D, Unruh M, Tan H, Shapiro R, Peltz M, Hardoby M,
                        McCloskey C, Sturdevant M, Humar A. Findings from a national
                        survey of living donor advocates. In Steel JL (Ed) Living Donor
                        Advocacy: An evolving role in transplantation. New York NY:
                        Springer Publishing; 2014.
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        7. Brodie B, Green A, <strong>Steel JL</strong>. Health
                        Disparities within Kidney and Liver Transplantation. In Copeland
                        V. (Ed) Contemporary Issues for People of Color: Surviving and
                        Thriving in the U.S. Today. Santa Barbara, CA: ABC-CLIO, 2015.
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        8. Carr F, Ahmed N, Dew MA, DiMartini A,
                        <strong>Steel JL</strong>. Psychosocial issues in hepatocellular
                        carcinoma. In BI Carr (Ed.), Hepatocellular Carcinoma, 3rd
                        edition. New York, NY: Spring Publishing; 2016.
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        9. Pathak R, Cheng H, Kociusko R, Wang Y, Rajput M, Brindley E,
                        <strong>Steel JL</strong>. Psycho-biological mechanisms and risk
                        factors with tumors In Egle, Heim, Strauß, von Känel (Ed.)
                        (2018) Psychosomatische Medizin. Stuttgart: Kohlhammer Verlag.
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        10. Dew MA, Myaskovsky L, <strong>Steel JL</strong>, DiMartini
                        AF (2019). Posttransplant psychosocial and mental health care of
                        the renal recipient. In: Y Sher, J Maldonado (Eds.), The
                        psychosocial care of end-stage disease and transplant patients,
                        pp. 119-136. NY: Springer Publishing
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        11. Jhamb M & <strong>Steel JL</strong>. In (Eds). Psychosocial
                        Aspects of Chronic Kidney Disease. Pain and Symptom Burden in
                        chronic kidney disease. In press.
                    </p>
              