
                    <p class="text-justify">
                        1. <strong>Steel JL</strong>. Interpersonal correlates of trust
                        and self-disclosure. Psychological Reports, 1990; 68: 1319-1320.
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        2. <strong>Steel JL</strong>, Wilson G, Cross H, & Palmer, B.
                        Mediating factors in the development of psychopathology in
                        victims of childhood sexual abuse. Sexual Abuse: Journal of Sex
                        Research and Treatment, 1997; 8(4): 291-316.
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        3. Herlitz C & <strong>Steel JL</strong>. A decade of HIV
                        prevention in Sweden: Changes in attitudes associated with HIV
                        and sexual risk behavior from 1987-1997. AIDS. 2000 May;14:
                        1-10. PubMed PMID: 10839597
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        4. Nordin K, <strong>Steel JL</strong>, Hoffman K, & Glimelius
                        B. Alternative methods of interpreting quality of life data in
                        advanced gastrointestinal cancer patients. British Journal of
                        Cancer. 2001 Nov; 85(9): 1265-1272. PubMed PMID:11720459
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        5. Herlitz C & <strong>Steel JL</strong>. Highly active
                        antiretroviral therapy (HAART): Awareness and beliefs about
                        infectivity and the influence on sexual behavior in the general
                        population of Sweden. European Journal of Public Health. 2001
                        Sept; 11(3): 251- 256. PubMed PMID: 11582601
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        6. <strong>Steel JL</strong>, Herlitz C, Matthews J, Snyder W,
                        Mazzaferro K, Baum A, & Theorell, T. Pre-emigration trauma and
                        HIV risk behavior. Transcultural Psychiatry. 2003 Mar; 40:
                        91-108. PubMed PMID: 12769513
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        7. <strong>Steel JL</strong>, Carney M, Carr BI, & Baum A. The
                        role of psychosocial factors in the progression of
                        hepatocellular carcinoma. Medical Hypotheses, 2004; 62: 86-94
                        PubMed PMID: 14729010
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        8. <strong>Steel JL</strong>, Carr BI, & Baum A. Quality of life
                        in patients diagnosed with primary hepatocellular carcinoma:
                        Hepatic arterial infusion of Cisplatin versus 90-Yttrium
                        microspheres (Therasphere®). Psycho-Oncology, 2004 Feb; 13(2):
                        73-79. PubMed PMID: 14872525
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        9. <strong>Steel JL</strong>, Cross H, Sanna L, Hammond B,
                        Whipple J, & Williams W. Psychological sequelae of childhood
                        sexual abuse: Abuse-related characteristics, coping strategies,
                        and attributional style. Child Abuse & Neglect, 2004 Jul; 28(7):
                        785-801. PubMed PMID: 15261472
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        10. <strong>Steel JL</strong>, Herlitz C, Snyder W, Mazzaferro
                        K, & Theorell T. Are we assessing HIV/AIDS-related knowledge?
                        Competing beliefs that may put a knowledge person at risk for
                        HIV. International Journal of STDs and AIDS, 2004 Sep; 15(9):
                        637-638. PubMed PMID: 15339380
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        11. <strong>Steel JL</strong>, Geller DA, & Carr BI. Proxy
                        ratings of health-related quality of life in patients with
                        hepatocellular carcinoma. Quality of Life Research, 2005 May;
                        14(4):1025-1033. PubMed PMID: 16041898
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        12. <strong>Steel JL</strong> & Herlitz C. The association
                        between childhood and adolescent sexual abuse and sexual risk
                        behavior: A random sample of the general population of Sweden.
                        Child Abuse and Neglect, 2005 Oct; 29(10): 1141-1153. PubMed
                        PMID: 16243097
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        13. <strong>Steel JL</strong>, Hess S, Tunke L, Olek M, & Carr,
                        B. Sexual functioning in patients with hepatocellular carcinoma.
                        Cancer, 2005 Nov 15; 104(10): 234-243. PubMed PMID: 16220558
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        14. <strong>Steel JL</strong>, Eton D, Cella D, Olek M, & Carr
                        BI. Clinically meaningful changes in health related quality of
                        life in patients with hepatobiliary carcinoma. Annals of
                        Oncology, 2006 Feb; 17: 304-312. PubMed PMID: 16357021
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        15. <strong>Steel JL</strong>, Landsittel D., Calhoun B. Wieand
                        S, & Kingsley L. Effects of lipodystrophy on quality of life and
                        depression in HIV-infected men on HAART. AIDS Patient Care and
                        STDs, 2006 Aug 20; 8: 565-575. PubMed PMID: 16893326
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        16. Dew MA, DiMartini AF, Dabbs A, Myaskovsky L,
                        <strong>Steel JL</strong>, Unruh M, Switzer GE, Zomak R. &
                        Kormos RL, Greenhouse JB. Rates and risk factors for
                        nonadherence to the medical regimen after adult solid organ
                        transplantation. Transplantation, 2007 Apr 15; 83(7): 858-873.
                        PubMed PMID: 17460556
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        17. Dunigan JA, Carr BI, & <strong>Steel JL</strong>.
                        Posttraumatic growth, immunity and survival in patients with
                        hepatoma. Digestive Disease and Sciences, 2007 Sep; 16(2): 203-
                        215. PubMed PMID: 17417728
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        18. <strong>Steel JL</strong>, Chopra K, & Carr BI. Health
                        related quality of life in patients with chronic liver disease,
                        hepatocellular carcinoma, and the general population. Quality of
                        Life Research, 2007; 16(2): 203-215. PubMed PMID: 17119847
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        19. <strong>Steel JL</strong>, Geller DA, Gamblin TC, Olek M, &
                        Carr BI. Depression, immunity, and survival in patients with
                        hepatobiliary carcinoma. Journal of Clinical Oncology, 2007 Jun
                        10; 25(17): 2397-2405. PubMed PMID: 17557953
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        20. <strong>Steel JL</strong>, Geller DA, Gamblin TC, Olek M, &
                        Carr BI. Depression, immunity, and survival in patients with
                        hepatobiliary carcinoma. Response to: More claims about
                        depression, immune function, and survival that exceed the
                        evidence. Journal of Clinical Oncology, 2007 Nov; 25(33):
                        5328-5329. PubMed PMID: 18024882
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        21. <strong>Steel JL</strong> & Herlitz C. Risk of sexual
                        dysfunction in a randomly selected nonclinical sample of the
                        Swedish population. Obstetrics & Gynecology, 2007 Mar; 109(3):
                        663-668. PubMed PMID: 17329518
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        22. <strong>Steel JL</strong>, Nadeau K, Olek M, & Carr BI.
                        Preliminary results of an individually tailored Psychosocial
                        intervention for patients with advanced hepatobiliary carcinoma.
                        Journal of Psychosocial Oncology, 2007; 25(3): 19-42. PubMed
                        PMID: 19341012
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        23. Cho SW, Marsh JW, <strong>Steel J</strong>, Holloway SE,
                        Heckman JT, Ochoa ER, Geller D.A. & Gamblin TC. Surgical
                        management of hepatocellular adenoma: Take it or leave it?
                        Annals of Surgical Oncology, 2008; 15(10): 2795-2803. PubMed
                        PMID: 18696154. Statistician
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        24. Cole B, Hopkins C, Tisak J, <strong>Steel JL</strong>, &
                        Carr BI. Assessing spiritual growth and spiritual decline
                        following a diagnosis of cancer: Reliability and validity of the
                        Spiritual Transformation Scale. Psycho-Oncology, 2008; 17(1):
                        112-121. PubMed PMID: 17458862
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        25. Dew MA, DiMartini AF, Dabbs A, Myaskovsky L,
                        <strong>Steel JL</strong>, Unruh M & Greenhouse JB.
                        Meta-analysis of risk for return to substance use after
                        transplantation of the liver or other solid organs. Liver
                        Transplantation, 2008 Feb; 14(2): 159-172. PubMed PMID: 18236389
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        26. Dew MA, DiMartini AF, De Vito Dabbs A, Zomak RN, De Geest
                        SC, Dobbels FN, Myaskovsky LD, Switzer GE, Unruh M,
                        <strong>Steel JL</strong>, Kormos RL & McCurry KR. Adherence to
                        the medical regimen during the first two years after lung
                        transplantation. Transplantation, 2008 Jan 27; 85(2): 193-202.
                        PubMed PMID: 18212623
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        27. Gusani NJ, Balaa FK, <strong>Steel J</strong>, Geller DA,
                        Marsh JW & Gamblin TC. Treatment of unresectable
                        cholangiocarcinoma with Gemcitabine-based Transcatheter Arterial
                        Chemoembolization (TACE): Single institution experience. Journal
                        of Gastrointestinal Surgery, 2008 Jan; 12(1): 129-137. PubMed
                        PMID: 17851723. Statistician
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        28. Heckman JT, Devera MB, Marsh JW, Fontes P, Amesur NB,
                        Holloway SE, Nalesnik M, Geller DA, <strong>Steel JL</strong> &
                        Gamblin TC. Bridging locoregional therapy for hepatocellular
                        carcinoma prior to liver transplantation. Annals of Surgical
                        Oncology, 2008 Nov; 15(11): 3169-77. PubMed PMID: 18696158.
                        Statistician
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        29. <strong>Steel JL</strong>, Carr BI & Gamblin TC. Measuring
                        post-traumatic growth in in people diagnosed with hepatobiliary
                        cancer: Directions for future research. Oncology Nursing Forum,
                        2008 July; 35(4): 643-650. PubMed PMID: 18591168
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        30. Jhamb M, Weisbord SD, <strong>Steel JL</strong> & Unruh M.
                        Fatigue in patients receiving maintenance dialysis: a review of
                        definitions, measures, and contributing factors. American
                        Journal of Kidney Disease, 2008 Aug; 52(2): 353-365. PubMed
                        PMID: 18572290
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        31. Dew MA, De Vito Dabbs A, Myaskovsky LD, Shelmer D, Dimartini
                        A, <strong>Steel JL</strong>, Unruh Shapiro R & Greennhouse JB.
                        Meta-analysis of medical regimen adherence outcomes in pediatric
                        solid organ transplantation. Transplantation, 2009 Sep 15;
                        88(5): 736-746. PubMed PMID: 19741474
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        32. Cardinal JS, deVera ME, Marsh, JW,
                        <strong>Steel JL</strong>, Geller DA, Fontes P, Nalesnik M &
                        Gamblin TC. Treatment of Hepatic Epithialoid
                        Hemangioendothelioma (EHE): A single institution experience with
                        25 cases. Archives of Surgery, 2009 Nov; 144(11): 1035-1039.
                        PubMed PMID: 19917940. Statistician
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        33. Dhupar R, de Vera ME, Marsh JW, Fontes PA,
                        <strong>Steel JL</strong>, Zeh HJ & Gamblin, TC. Simultaneous
                        pancreatectomy and liver transplantation: a single institution
                        experience. HPB, 2009 May; 11(3): 242-246. PubMed PMID:
                        19590654. Statistician
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        34. Jhamb M, Argyropoulos C, <strong>Steel JL</strong>,
                        Plantinga L, Wu AW, Fink NE, Power NR, Meyer KB & Unruh ML,
                        Choices for Health Outcomes in Caring for End-Stage Renal
                        Disease (CHOICE). Correlates and outcomes of fatigue among
                        incident dialysis patients. Clinical Journal of the American
                        Society of Nephrology, 2009 Nov; 4(11): 1779-1786. PubMed PMID:
                        19808226
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        35. Nace G, <strong>Steel JL</strong>, Gamblin TC. Yttrium-90
                        (Y-90) radioembolization for colorectal cancer (CRC) liver
                        metastases: A single institution experience. Annals of Surgical
                        Oncology, 2009 Dec; 16(1): 89-90. PubMed PMID: 22312513.
                        Statistician
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        36. Nguyen KT, <strong>Steel JL</strong>, Marsh JW, Geller DA &
                        Gamblin TC. Initial presentation and management of hilar and
                        peripheral cholangiocarcinoma: Is a node-positive status or
                        potential margin-positive result a contraindication to
                        resection? Annals of Surgical Oncology, 2009; 16(12): 3308-3315.
                        PubMed PMID: 19774418. Statistician
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        37. Nguyen KT, Laurent A, Dagher I, Geller DA,
                        <strong>Steel JL</strong>, Thomas MT, Marvin M, Ravindra KV,
                        Mejia A, Cherqui D, Buell JF & Gamblin TC. Minimally invasive
                        liver resection for metastatic colorectal cancer: A
                        multi-institutional, international report of safety, feasibility
                        and early outcomes. Annals of Surgery, 2009 Nov; 250(5): 842-
                        848. PubMed PMID: 19806058. Statistician
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        38. Vanounou T, <strong>Steel JL</strong>, Nguyen KT, Tsung A,
                        Geller DA & Gamblin TC. Overall survival and health-related
                        quality of life in unresectable hepatocellular carcinoma (HCC)
                        treated with transarterial chemoembolization (TACE) vs.
                        selective internal radiation therapy (SIRT) with Yttrium-90
                        microspheres. HBP, 2010 Apr; 16(1): 31- 123. PubMed PMID:
                        20033324. Statistician
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        39. <strong>Steel JL</strong>, Youssef M, Pfeifer R, Ramirez JM,
                        Probst C, Sellei R, Zelle BA, Sittaro NA, Khalifa F& Pape HC.
                        Health-related quality of life in patients with multiple
                        injuries and traumatic brain injury 10+ years post-injury.
                        Journal of Traumatic Injury, Infection, and Critical Care, 2010
                        Sep; 69(3): 523-530. PubMed PMID: 20838121
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        40. Pape HCP, Probst C, Lohse, R, <strong>Steel JL</strong>,
                        Zelle B, Panzica M, Duhme M, Pfeifer, Krettek C & Sittaro NA.
                        Predictors of late clinical outcome following orthopedic
                        injuries after multiple trauma. Journal of Trauma, 2010 Nov;
                        69(5): 1243-51. PubMed PMID: 20489671. Statistician
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        41. Vanounou T, <strong>Steel JL</strong>, Nguyen T, Marsh W,
                        Geller DA, Gamblin, TC. Comparing the clinical and economic
                        impact of laparoscopic versus open liver resection. Annals of
                        Surgical Oncology, 2010 Apr; 17(4): 998-1009. PubMed PMID:
                        20033324
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        42. <strong>Steel JL</strong>, Kim KH, Dew MA, Unruh ML, Antoni
                        MH, Olek MC, Geller DA, Carr BI, Butterfield LH, Gamblin TC.
                        Cancer-related symptom clusters, eosinophils, and survival in
                        hepatobiliary cancer: An exploratory study. Journal of Pain and
                        Symptom Management, 2010 May; 39(5): 859-871. PubMed PMID:
                        20471546
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        43. Mehra R, Nguyen KT, <strong>Steel J</strong>, Amesur N,
                        Raizman R, Celinski S, Tsung A, Gamblin T. Is Patient Age
                        Associated with Improved Survival after Transarterial
                        Chemoembolization (TACE) for unresectable Neuroendocrine Tumor
                        (NET) Metastases. Pancreas, 2010 Sep; 39(2): 275-6. PubMed PMID:
                        15361558. Statistician
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        44. Cho SW, Krit K, Buck D, <strong>Steel JL</strong>, Brufsky
                        AM, Gillsepie G, Tsung A, Marsh JW, Geller DA, Gamblin TC.
                        Transcatheter Arterial Chemoembolization (TACE) is a Feasible
                        palliative locoregional therapy for breast cancer liver
                        metastases. International Journal of Surgical Oncology, 2010:
                        1-8. PubMed PMID: 22312487. Statistician
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        45. Nguyen K, <strong>Steel JL</strong>, Gamblin TC, Tsung A,
                        Marsh W. Comparative benefits of laparoscopic versus open
                        hepatic resection. A critical appraisal. Archives of Surgery,
                        2010 Mar; 146(3): 348-356. PubMed PMID: 21079109. Statistician
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        46. Moore AM, Gamblin TC, Geller DA, Youssef MN, Hoffman KE,
                        Gemmell L, Likumahuwa SM, Bovbjerg DH, Marsland A,
                        <strong>Steel JL</strong>. A prospective study of posttraumatic
                        growth as assessed by self-report and family caregiver in the
                        context of advanced cancer. Psycho- oncology, 2010 May; 20(5):
                        479-487. PubMed PMID: 20878841
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        47. Cho SW, <strong>Steel JL</strong>, Tsung A, Marsh JW, Geller
                        DA, Gamblin TC. Safety of liver resection in the elderly: How
                        important is age. Annals of Surgical Oncology, 2010 April;
                        18(4): 1088-1095. PubMed PMID: 21046265. Statistician
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        48. Zureikat AH, Breaux JA, <strong>Steel JL</strong>, Hughes
                        SJ. Can Laparoscopic pancreatico-duodenectomy Be Safely
                        Implemented? Journal of Gastrointestinal Surgery, 2011; 15(7):
                        1151-1157. PubMed PMID: 21538192. Statistician.
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        49. Nguyen KT, Kitisin K, <strong>Steel JL</strong>, Jeyabalan
                        G, Aggarwal S, Geller DA, Gamblin TC. Cirrhosis is not a
                        contraindication to laparoscopic cholecystectomy: Results and
                        practical recommendations. HPB, 2011 Mar; 13(3): 192-197. PubMed
                        PMID: 21309937. Statistician
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        50. <strong>Steel JL</strong>, Geller DA, Tsung A, Marsh JW, Dew
                        MA, Spring M, Grady J, Likumahuwa S, Dunlavy A, Youssef M,
                        Antoni M, Butterfield LH, Schulz R, Day R, Helgeson V, Kim KH,
                        Gamblin TC. Randomized controlled trial of a collaborative care
                        intervention to manage cancer-related symptoms: Lessons learned.
                        Clinical Trials, 2011 Jun; 8: 298-310. PubMed PMID: 11730078
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        51. Jhamb M, Weisbord S, Ramer S, Weissfeld L, Dew MA,
                        <strong>Steel JL</strong>, & Unruh ML. Impact of Fatigue on
                        Outcomes in the Hemodialysis (HEMO) Study. American Journal of
                        Nephrology, 2011 May; 33(6): 515-523. PubMed PMID: 21555875
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        52. Reddy SK, Turley RS, Barbas AS, <strong>Steel JL</strong>,
                        Tsung A, Marsh W, Clary BM, Geller DA. Post-Operative
                        pharmacologic thromboprophylaxis after major hepatectomy: Does
                        peripheral venous thromboembolism prevention outweigh bleeding
                        risks? Journal of Gastrointestinal Surgery, 2011 Sep; 15(9):
                        1602-1610. PubMed PMID: 21691924. Statistician
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        53. Reddy SK, Barbas AS, Turley RS, <strong>Steel JL</strong>,
                        Tsung A, Marsh JW, Geller DA, Clary BM. A standard definition of
                        major hepatectomy: Resection of four or more liver segments.
                        HPB, 2011; 13(7): 494-502. PubMed PMID: 21689233. Statistician
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        54. <strong>Steel JL</strong>, Dunlavy A, Stillman J, Pape HC.
                        Measuring depression and PTSD after trauma: Common scales and
                        checklists. Injury, 2011 Mar; 42(3): 288-300. PubMed PMID:
                        21216400
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        55. Kitisin K, Packiam V, <strong>Steel JL</strong>, Humar A,
                        Gamblin TC, Geller DA, Marsh JW, Tsung A. Presentation and
                        Outcomes of Hepatocellular Carcinoma (HCC) Patients at a Western
                        Center. HPB 2012 Oct; 13: 712-722. PubMed PMID: 21929672.
                        Statistician
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        56. Reddy SK, <strong>Steel JL</strong>, Chen HW, Demateo DJ,
                        Cardinal J, Behari J, Humar A, Marsh JW, Geller DA, Tsung A.
                        Outcomes of curative treatment for hepatocellular cancer in
                        nonalcoholic steatohepatitis versus hepatitis C and alcoholic
                        liver disease. Hepatology, 2012 Jun; 55(6): 1809-19. PubMed
                        PMID: 22183968. Statistician
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        57. Groeschl R, Nachmany I, <strong>Steel JL</strong>, Reddy S,
                        Glazer E, de Jong M, Pawlik T, Geller DA, Tsung A, Marsh W,
                        Clary B, Curley S, Gamblin TC. Hepatectomy for noncolorectal
                        nonneuroendocrine metastatic cancer: A multi-Institutional
                        analysis. Journal of the American College of Surgeons, 2012;
                        214(5): 769-77. PubMed PMID: 22425166. Statistician
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        58. Hart SL, Hoyt MA, Diefenbach M, Anderson DR, Kilbourn KM,
                        Craft L, <strong>Steel JL</strong>, Cuijpers P, Mohr DC,
                        Berendsen M, Spring B, Stanton AL. Meta-Analysis of the efficacy
                        of interventions for depressive symptoms in adults diagnosed
                        with cancer. Journal of the National Cancer Institute, 2012 Jul;
                        104(13): 990-1004. PubMed PMID: 22767203
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        59. <strong>Steel JL</strong>, Dunlavy A, Friday M, Kingsley K,
                        Brower D, Unruh M, Tan H, Shapiro R, Peltz M, Hardoby M,
                        McCloskey C, Sturdevant M, Humar A. A national survey of living
                        donor advocates: A need for practice guidelines. American
                        Journal of Transplantation, 2012 Aug; 12(8): 2141-2149. PubMed
                        PMID: 22548793
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        60. Zureikat AH, Magge D, Zeh HJ III, <strong>Steel JL</strong>,
                        Holtzman MP, Jones HL, Brown CK, Pingpank JF & Bartlett DL.
                        Outcome analysis of a combined percutaneous and open approach to
                        Isolated Hepatic Perfusion (IHP) for patients with unresectable
                        liver metastases. Current Problems in Cancer, 2012; 36: 27-76.
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        61. Austin F, Mavanur A, Sathaiah M, <strong>Steel J</strong>,
                        Lenzner D, Ramalingam L, Holtzman M, Ahrendt S, Pingpank J, Zeh
                        HJ, Bartlett DL, Choudry HA. Aggressive management of peritoneal
                        carcinomatosis from mucinous appendiceal neoplasms. Annals of
                        Surgical Oncology, 2012 May; 19(5): 1386-93. PubMed PMID:
                        22302270. Statistician
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        62. Magge D, Gooding W, Choudry H, Steve J,
                        <strong>Steel J</strong>, Zureikat A, Krasinskas A, Daouadi M,
                        Lee KK, Hughes SJ, Zeh HJ, Moser AJ. Comparative effectiveness
                        of minimally invasive and open distal pancreatectomy for ductal
                        adenocarcinoma. JAMA Surgery, 2013; 148: 525–531. PubMed PMID:
                        23426503.
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        63. Magge D, Gooding W, Choudry H, Steve J,
                        <strong>Steel J</strong>, Zureikat A, Krasinskas A, Daouadi M,
                        Lee KK, Hughes SJ, Zeh HJ 3rd, Moser AJ. Comparative
                        effectiveness of minimally invasive and open distal
                        pancreatectomy for ductal adenocarcinoma. JAMA Surgery, 2013;
                        148: 525–531. PubMed PMID: 23426503. Statistician
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        64. <strong>Steel JL</strong>, Dunlavy A, Friday M, Kingsley K,
                        Brower D, Unruh M, Tan H, Shapiro R, Peltz M, Hardoby M,
                        McCloskey C, Sturdevant M, Humar A. The development of practice
                        guidelines for ILDAs. Clinical Transplantation, 2013 Mar-Apr;
                        27(2): 178-184. PubMed PMID: 23566069
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        65. Tohme, Geller DA, Cardinal JS, Chen HW, Packiam V, Reddy S,
                        <strong>Steel J</strong>, Marsh JW, Tsung A. Radiofrequency
                        ablation compared to resection in early-stage hepatocellular
                        carcinoma. HPB, 2013 Aug; 3: 210-217. PubMed PMID: 23374361
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        66. Jhamb M, Liang K, Yabes J, <strong>Steel J</strong>, Shah N,
                        Unruh M. Prevalence and correlates of fatigue in CKD and ESRD:
                        Are Sleep Disorders a Key to Understanding Fatigue? American
                        Journal of Nephology, 2013; 38(6): 489-95. PubMed PMID: 24335380
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        67. Butt Z, Lai J-S, Beaumont JL, Kaiser K, Mallick R, Cella D,
                        & <strong>Steel JL</strong>. Psychometric properties of a brief,
                        clinically-relevant measure of pain in patients with
                        hepatocellular carcinoma. Quality of Life Research, 2014 Nov;
                        23(9): 2447-2455. PubMed PMID: 24748017
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        68. Magge D, Choudry HA, Zeh HJ 3rd, Cunningham DE,
                        <strong>Steel J</strong>, Holtzman MP, Jones HL, Pingpank JF,
                        Bartlett DL, Zureikat AH. Outcome analysis of a decade-long
                        experience of isolated hepatic perfusion for unresectable liver
                        metastases at a single institution. Ann Surg. 2014 May;
                        259(5):953-9. PubMed PMID: 24169176. Statistician
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        69. Mejia J, Sucandy I, <strong>Steel J</strong>, Golas B, Humar
                        A, Lee K, Zeh H, Marsh JW, Tsung T. Indications and outcomes of
                        pancreatic surgery after liver transplantation. Clinical
                        Transplantation, 2014; 28(3): 330-336. PubMed PMID: 24757720.
                        Statistician.
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        70. <strong>Steel JL</strong>, Bress K, Popichak L, Evans JS,
                        Savkova A, Biala M, Ordos J, Carr BI. A systematic review of
                        randomized controlled trials testing the efficacy of
                        psychosocial interventions for gastrointestinal cancers. Journal
                        of Gastrointestinal Cancers, 2014 Jun; 45 (2): 181-189. PubMed
                        PMID: 24733568
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        71. Lopez-Solis R, DeVera M, <strong>Steel JL</strong>, Fedorek
                        S, Sturdevant M, Hughes C, Humar A. Gastrointestinal side
                        effects in liver transplant recipients taking enteric-coated
                        Mycophenolate Sodium vs. Mycophenolate Mofetil. Clinical
                        Transplantation, 2014 July; 28(7): 783-788. PubMed PMID:
                        24754682 Statistician.
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        72. Tsung A, Geller DA, Sukato D, Sabbaghian S, Samer T,
                        <strong>Steel JL</strong>, Marsh W, Reddy S, David B. Robotic
                        versus laparoscopic hepatectomy: A matched comparison. Annals of
                        Surgery, 2014 Mar; 259(3): 549-555. PubMed PMID: 24045442.
                        Statistician
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        73. Magee D, Choudry HA, Zeh HJ, Cunningham DE,
                        <strong>Steel J</strong>, Holtzman MP, Jones HL, Pingpank JF,
                        Barlette DL, Zureikat AH. Outcome analysis of a decade-long
                        experience of isolated hepatic perfusion for unresectable liver
                        metastases at a single institution. Annals of Surgery, 2014 May;
                        2-14; 259(5): 953-959. PubMed PMID: 24169176
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        74. <strong>Steel JL</strong>, Geller DA, Robinson T, Savkova A,
                        Brower D, Marsh JW, Tsung A. Health- related quality of life as
                        a prognostic in advanced cancer patients. Cancer, 2014 Dec;
                        120(23): 3717-3721. PubMed PMID: 25104581
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        75. Dew MA, Myaskovsky L, <strong>Steel JL</strong>, DiMartini
                        AF. Managing the psychosocial and Financial Consequences of
                        Living Donation. Current Transplantation Reports, 2014 Mar;
                        1(1): 24-34. PubMed PMID: 4592353
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        76. Rudow D, Scwartz, K, Phillips C, Hollenberger J, Smith T,
                        <strong>Steel JL</strong>. Living donors: The psychosocial and
                        ILDA evaluation. Journal of Clinical Psychology in Medical
                        Settings, 2015 Sep; 22(2-3): 139-149. PubMed PMID: 26293351
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        77. <strong>Steel JL</strong>. Collaborative care interventions:
                        A solution to screening and treatment of depression in the
                        oncology setting. Evidence-Based Mental Health, 2015; 18(2): 62.
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        78. Carr BI, Guerra V, <strong>Steel JL</strong>, Sheng-Nan L. A
                        comparison of patients with hepatitis B or hepatitis C based
                        advanced stage hepatocellular carcinoma. Seminars in Oncology,
                        2015 April; 42(2): 309-315. PubMed PMID: 25843735
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        79. Dew MA, Rosenberger EM, Myaskovsky L, DiMartini AF, DeVito
                        Dabbs AJ, Posluszny DM, <strong>Steel JL</strong>, Smitzer GE,
                        Shellmer D, Greenhouse JB. Depression and anxiety as risk
                        factors for morbidity and mortality after organ transplantation:
                        A systematic review and meta-analysis. Transplantation, 2015;
                        100(5) 988-1003. PubMed PMID: 26492128
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        80. <strong>Steel JL</strong>, Geller DA, Kim KH, Butterfield
                        LH, Spring M, Grady J, Sun W, Marsh W, Antoni M, Dew MA,
                        Helgeson V, Schulz R, Tsung A. A web-based collaborative care
                        intervention to manage cancer-related symptoms in the palliative
                        care setting. Cancer, 2016 April; 122(8): 1270-1282. PubMed
                        PMID: 26970434
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        81. Gemmel L, Terhorst L, Unruh M, Kim KH, Myaskovsky L, Kester
                        L, <strong>Steel JL</strong>. Gender and racial differences in
                        stress, coping, and health related quality of life in chronic
                        kidney disease. Journal of Pain and Symptom Management, 2016
                        Dec; 52(6): 806-812. PubMed PMID: 27697565
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        82. <strong>Steel JL</strong>, Dunlavy A, Harding C, Theorell T.
                        The psychological consequences of pre-emigration trauma and
                        post-migration stress in refugees from Africa. Journal of
                        Immigrant and Minority Health, 2017 Jun; 19(3): 523-532. PubMed
                        PMID: 27562386
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        83. Collins KP, Geller DA, Antoni M, Donnell DM, Tsung A, Marsh
                        JW, Burk L, Penedo F, Terhorst L, Kim K, Kamarack TW, Greene A,
                        Buysse DJ, <strong>Steel JL</strong>. Sleep duration is
                        associated with survival in advanced cancer patients. Sleep
                        Medicine, 2017 Apr; 32: 208-212. PubMed PMID: 28366336
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        84. Dhir M, Shrestha R, <strong>Steel JL</strong>, Marsh JW,
                        Tsung A, Tublin ME, Amesur NB, Orons PD, Santos E, Geller DA.
                        Initial treatment of unresectable neuroendocrine tumor liver
                        metastases with Transarterial chemoembolization using
                        Streptozotocin: A 20-year experience. Annals of Surgical
                        Oncology, 2017; 24(2): 450-459. PubMed PMID: 27663565
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        85. <strong>Steel JL</strong>, Terhorst L, Collins KP, Geller
                        DA, Vodovotz Y, Kim J, Krane A, Antoni M, Marsh JW, Burke L,
                        Butterfield LH, Penedo F, Buysse DJ, Tsung A. Prospective
                        analyses of cytokine mediation of sleep and survival in the
                        context of cancer. Psychosomatic Medicine. 2018, Jun; 80(5):
                        483-491. PubMed PMID: 29621045
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        86. Bellin MD, Abu-El-Haji M, Morgan K, Adams D, Beilman JG,
                        Chinnakotla S, Conwell DL, Dunn TB, Freeman ML, Gardner T,
                        Kirchner V, Lara LF, Long-Simpson L, Nathan JD, Naziruddin B,
                        Nyman J, Pruett TL, Schwarzenberg SJ, Singh V, Smith K,
                        <strong>Steel JL</strong>, Wijkstrom M, Witkowski P, Hodges J,
                        on behalf of the POST study consortium. A Multicenter Study of
                        Total Pancreatectomy with Islet Autotransplantation (TPIAT):
                        POST (Prospective Observational Study of TPIAT). Pancreas. 2018,
                        Apr; 18(3): 286-290. PubMed PMID: 29456124
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        87. Krane DM, Terhorst L, Bovbjerg D, Scheier M, Kucinski B,
                        Geller DA, Marsh W, Tsung A, <strong>Steel JL</strong>. Putting
                        the life in lifestyle: Lifestyle choices after a diagnosis of
                        cancer predict mortality. Cancer. 2018 Jul; 124 (16): 3417-3426.
                        PubMed PMID: 29975412
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        88. <strong>Steel JL</strong>, Gordon E, Dulovich M, Kingsley K,
                        Tevar A, Ganesh S, Brindley E, Sood P, Humar A. Transplant
                        Advocacy in the era of the HOPE Act. Clinical Transplantation.
                        2018 Jul; 32(7): Epub. PubMed PMID: 29952035
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        89. Roumelioti ME, <strong>Steel JL</strong>, Yabes J, Vowles
                        KE, Vodovotz Y, Beach S, Rollman B, Weisbord SD, Unruh ML, Jhamb
                        M. Rationale and design of technology assisted stepped
                        collaborative care intervention to improve patient-centered
                        outcomes in hemodialysis patients. Contemp Clin Trials, 2018;
                        (18). PubMed PMID: 30208343
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        90. Siegal J, Humar A, Cheng H, Krane A, Ahmed N, Tevar A,
                        Gianaros P, <strong>Steel JL</strong>. An assurance of
                        insurance: Should living kidney donors be required to have
                        health insurance. Diversity and Equality in Health and Care,
                        2018; 15(6): 254-262.
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        91. Kosciusko R, Geller, DA, Kucinski B, Shadel W, Vanegas Y,
                        Tsung A, Marsh W, <strong>Steel JL</strong>. Substance use,
                        depression, and illness perception among advanced cancer
                        patients. American Journal of Health Behavior, 2019 March 1; 43
                        (2): 287-299. PubMed PMID: 30808469
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        92. Jhamb M, Abdel-Kader K, Yabes J, Wang Y, Weisbord SD, Unruh
                        M, <strong>Steel JL</strong>. Comparison of fatigue, pain and
                        depression in patients with advanced kidney disease and cancer –
                        symptom burden and clusters. Journal of Pain of Symptom
                        Management, 2019 Mar; 57(3):566-575. PubMed PMID 30552961
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        93. Porter LS, Samsa G, <strong>Steel JL</strong>, Hanson LC,
                        LeBlanc TW, Bull J, Fischer S, Keefe, FJ. Caregiver-guided pain
                        coping skills training for patients with advanced cancer:
                        Background, design and challenges for the CaringPals study.
                        Clinical Trials, Jun;16(3):263-272. PubMed PMID: 30782014
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        94. Miceli J, Geller DA, Tsung A, Marsh W, Antoni M, Penedo F,
                        Burke L, Ell K, <strong>Steel JL</strong>. Illness perceptions
                        and perceived stress in patients with advanced cancer.
                        Psycho-Oncology, Jul; 28(7):1513-1519. PubMed PMID: 31090125
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        95. Chen Q, Terhorst L, Lowery A, Tsung A, Buysse, Geller DA,
                        Marsh JW, <strong>Steel JL</strong>. Sleep problems in advanced
                        cancer patients and their caregivers: Who is disturbing whom?
                        Journal of Behavioral Medicine, Aug 22. [Epub ahead of print].
                        PubMed PMID: 31435891
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        96. Cheng HH, Kamarck TW, Gianaros PJ, Roecklein KA, Tsung, A,
                        Geller, DA, Marsh JW, Ahmed NS, <strong>Steel JL</strong>.
                        Socioeconomic disparities of depressive symptoms and cytokines
                        in hepatocellular carcinoma. Psycho-Oncology, 2019 Aug;
                        28(8):1624-1632. PubMed PMID: 31119824
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        97. Jakubowski KP, Jhamb M, Yabes J, Gujrai S, Oberlin LE,
                        Bender F, <strong>Steel JL</strong>. Technology-Assisted
                        cognitive-behavioral therapy intervention for end-stage renal
                        disease. Translational Behavioral Medicine, 2019 May 27. pii:
                        ibz077. PubMed PMID: 31131853
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        98. <strong>Steel JL</strong>, Cheng H, Pathak R, Wang Y, Miceli
                        J, Hecht CL, Haggerty D, Peddada S, Geller DA, Marsh W, Antoni
                        M, Jones R, Kamarck T, Tsung A. Psychosocial and behavioral
                        pathways of metabolic syndrome in cancer caregivers.
                        Psycho-Oncology, 2019 Aug; 28(8):1735-1742. PubMed PMID:
                        31206896
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        99. Tohme S, Sanin GD, Patel V, Bess K, Ahmed N, Krane A, Tsung
                        A, <strong>Steel JL</strong>. Health-related Quality of Life as
                        a prognostic factor in patients after resection of hepatic
                        malignancies. Journal of Surgical Research, 2019 Aug 14;
                        245:257- 264. PubMed PMID: 31421371
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        100. Lara LF, Bellin MD, Ugbarugba E, Nathan JD, Witkowski P,
                        Wijkstrom M, <strong>Steel JL</strong>, Smith KD, Singh VK,
                        Schwarzenberg SJ, Pruett TL, Naziruddin B, Long-Simpson L,
                        Kirchner VA, Gardner TB, Freeman ML, Dunn TB, Chinnakotla S,
                        Beilman GJ, Adams DB, Morgan KA, Abu-El-Haija MA, Ahmad S,
                        Posselt AM, Hughes MG, Conwell DL. A study on the effect of
                        patient characteristics, geographical utilization, and patient
                        outcomes for total pancreatectomy alone and total pancreatectomy
                        with islet autotransplantation in patients with pancreatitis in
                        the United States. Pancreas. 2019 Oct;48(9):1204-121. PubMed
                        PMID: 31593020
                    </p>
                    <hr class="p-2 m-2" />
                    <p class="text-justify">
                        101. Chen Q, Geller DA, Marsh W, Antoni M, Dew MA, Biala M,
                        Weinstein J, Tsung A, <strong>Steel JL</strong>. Trajectories
                        and predictors of stress and depressive symptoms in spousal and
                        intimate partner cancer caregivers. Journal of Psychosocial
                        Oncology, in press
                    </p>
             