            <p class="text-justify">
              1. <strong>Steel JL</strong>, Chang C, Corona M, Hernadez L,
              Shimota G, Deasy S, Cella D. Measuring quality of life across
              cancer types: A multivariate approach. Supportive Care in Cancer
              (1996).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              2. <strong>Steel JL</strong>, Cross H, Sanna L, Hammond B,
              Whipple J, Williams W. Victim-offender characteristics and
              mediating factors in the development of psychopathology:
              Comparison across samples. American Psychological Association
              PsycNet (1996).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              3. Meyer-Bahlburg HFL, <strong>Steel JL</strong>, Dolezal C,
              Wasserman G. The CBCL Sex Problems Scale as a measure of
              childhood sexual behavior. Archives of Sexual Behavior (1997).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              4. <strong>Steel JL</strong>, Cross H, Sanna L, Hammond B,
              Whipple J, Williams W. Coping and attributional style as
              mediators of childhood sexual abuse. American Psychological
              Association PsycNet (1997).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              5. <strong>Steel JL</strong>, Chang C, Corona M, Shimota G,
              Deasy S, & Cella D. Structural equation modeling of demographic
              and disease-specific variables in the measure of quality of
              life. DIA Quality of Life Evaluation (1998).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              6. <strong>Steel JL</strong>, Herlitz C. A decade of prevention
              in Sweden. Presented at the American American Psychological
              Association PsycNet (1999).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              7. <strong>Steel JL</strong>, Herlitz C, Theorell T. Africa and
              Sweden: The interface between gender roles and sexuality.
              International Journal of STDs & AIDS (1999).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              8. <strong>Steel JL</strong>, Herlitz C. Theorell T. HIV
              Research: Population specific methodology. International Journal
              of STDs & AIDS (1999).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              9. <strong>Steel JL</strong>, Herlitz C. Determinants of
              AIDS-risk behavior in African immigrants residing in Sweden
              American Psychological Association PsycNet (1999).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              10. <strong>Steel JL</strong>, Cross H. Social support after
              childhood sexual abuse. American Psychological Association
              PsycNet (1999).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              11. <strong>Steel JL</strong>, Matthews J, Herlitz C, Theorell
              T. A history of trauma and HIV prevention. AIDS (2000).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              12. <strong>Steel JL</strong>, Carr BI, Baum A. Quality of life
              in patients receiving Hepatic Arterial Infusion (HAI) of
              Cisplatin or Therasphere: Preliminary report. Hepatology
              Research (2001).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              13. <strong>Steel JL</strong>, & Herlitz C. The association
              between sexual abuse and HIV-risk behavior. American
              Psychological Association PsycNet (2001).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              14. <strong>Steel JL</strong>, Baum A, Carr BI. The role of
              psychosocial factors and immune functioning in patients
              diagnosed with hepatocellular carcinoma. Psychosomatic Medicine
              (2002).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              15. <strong>Steel JL</strong>, Herlitz C, Theorell T. The role
              of religion in HIV prevention for refugees from sub-Sahara
              Africa. AIDS (2002).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              16. <strong>Steel JL</strong>, Baum A, Carr BI. Reliability and
              validity of proxy ratings of quality of life in patients
              diagnosed with hepatocellular carcinoma. Journal of Clinical
              Oncology (2002).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              17. Parke C, <strong>Steel JL</strong>, Chopra K, Carr BI.
              Depression and NK cell number in patients with hepatocellular
              carcinoma. Hepatology (2002).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              18. Carr BI, Torok F, Sheetz M, McCook B, Zajko A, Collins L,
              <strong>Steel J</strong>. A novel and safe therapy for
              advanced-stage hepatocellular carcinoma (HCC): Hepatic arterial
              90 Yttrium-labeled glass microspheres (Therasphere).
              Psycho-oncology (2002).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              19. <strong>Steel JL</strong>, Baum A, Carr BI. The role of
              psychosocial factors and immune functioning in patients
              diagnosed with hepatocellular carcinoma. Psychosomatic Medicine
              (2002).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              20. <strong>Steel JL</strong>, Chang CH, Baum AS, Carr BI.
              Reliability and validity of proxy ratings of quality of life in
              patients diagnosed with hepatocellular carcinoma. Journal of
              Clinical Oncology (2002).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              21. Carr BI, Torok F, Sheetz M, McCook B, Zajko A, Collins L,
              <strong>Steel JL</strong>. A novel and safe therapy for
              advanced-stage hepatocellular carcinoma (HCC): Hepatic arterial
              90yttrium-labeled glass microspheres (Therasphere). Asia-Pacific
              Journal of Oncology (2002).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              22. <strong>Steel JL</strong>, Chopra K, Geller DA, Carr BI.
              Prevalence of depression in hepatitis B and/or C patients
              undergoing liver transplantation. Asia-Pacific Journal of
              Oncology (2003).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              23. Dunlavy AC, Theorell T, Herlitz CA, MacBeth L,
              <strong>Steel JL</strong>. Acculturation, AIDS knowledge, and
              sexual risk behavior in African immigrants and refugees residing
              in Sweden. AIDS (2004).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              24. <strong>Steel JL</strong>, Geller DA, Carr BI. Health
              related quality of life in patients treated for hepatocellular
              carcinoma. HPB (2004).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              25. <strong>Steel JL</strong>, Chopra K, Carr BI. Health related
              quality of life in patients diagnosed with chronic liver disease
              and hepatocellular carcinoma. Annals of Behavioral Medicine
              (2003).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              26. <strong>Steel JL</strong>, Carr BI. Depression and survival
              in patients with hepatocellular carcinoma. Annals of Behavioral
              Medicine (2003).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              27. <strong>Steel JL</strong>, Herlitz C. Differences in
              determinants across sexual risk behaviors. Annals of Behavioral
              Medicine (2003).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              28. <strong>Steel JL</strong>, Carr BI. Depression and survival
              in patients with hepatocellular carcinoma. Annals of Behavioral
              Medicine. (2003).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              29. <strong>Steel JL</strong>, Chopra K, Carr BI. Health related
              quality of life in patients diagnosed with cirrhotic liver
              disease and hepatocellular carcinoma. Annals of Behavioral
              Medicine (2003).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              30. <strong>Steel JL</strong>, Dunlavy A, Herlitz C, Theorell T.
              Pre-emigration trauma and acculturation. Revista de Psicotrauma
              para Iberoamerica (2005).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              31. <strong>Steel JL</strong>, Dunlavy A, Herlitz C, Theorell T.
              Posttraumatic stress disorder and HIV-risk behavior in African
              immigrants and refugees. Annals of Behavioral Medicine (2005).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              32. <strong>Steel JL</strong>, Dunigan J, Carr BI. Posttraumatic
              growth, immunity, and survival in patients with hepatocellular
              carcinoma. Annals of Behavioral Medicine (2005); Citation Award.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              33. Carr BI, Zajko AB, <strong>Steel JL</strong>. Hepatic
              arterial 90Yttrium microspheres therapy and follow-up in 102
              patients with unresectable hepatocellular carcinoma (HCC). Asian
              Journal of Surgery (2005).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              34. Carr BI, Zajko AB, <strong>Steel JL</strong>. Hepatic
              arterial 90Yttrium microspheres therapy and follow-up in 102
              patients with unresectable hepatocellular carcinoma (HCC).
              Journal of Hepatology (2005).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              35. <strong>Steel JL</strong>, Carr BI. Posttraumatic growth in
              cancer patients: Real or imagined? Annals of Behavioral Medicine
              (2005)
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              36. Carr BI, Zajko AB, <strong>Steel JL</strong>. Hepatic
              arterial 90Yttrium microspheres therapy and follow-up in 102
              patients with unresectable hepatocellular carcinoma (HCC). Asian
              Journal of Surgery (2005).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              37. <strong>Steel JL</strong>, Olek M, & Carr BI. Health-related
              quality of life in unresectable hepatocellular carcinoma in
              patients treated with TACE or 90-Yttrium. Journal of Clinical
              Oncology (2006).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              38. <strong>Steel JL</strong>, Dunlavy AC, Theorell T.
              Determinants of HIV-risk behavior in refugees from Africa
              residing in Sweden. American Psychological Association PsycNet
              (2006).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              39. <strong>Steel JL</strong>, Olek M, Carr BI. Quality of life
              and survival in patients with hepatocellular carcinoma.
              Psycho-Oncology (2006).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              40. <strong>Steel JL</strong>, Dunlavy A, & Theorell T. The
              consequences and benefits of pre-emigration trauma and
              post-migration stress. Annals of Behavioral Medicine (2006).
              Citation Award.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              41. Dew MA, DiMartini AF, De Vito Dabbs A, Myaskovsky L,
              <strong>Steel J</strong>, Unruh M, Switzer GE, Zomak R, Kormos
              RL, Greenhouse JB. Meta-analysis of rates and risk factors for
              nonadherence to the medical regimen in adult organ
              transplantation. Psychosomatics (2006).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              42. <strong>Steel JL</strong>, Nadeau K, Olek M, Gamblin TC,
              Carr, BI. Preliminary data on the feasibility and efficacy of an
              individually tailored psychosocial intervention for patients
              diagnosed with hepatobiliary carcinoma. Annals of Behavioral of
              Medicine (2007).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              43. Carr BI, Zajko A, <strong>Steel J</strong>. A novel and safe
              therapy for advanced-stage hepatocellular carcinoma (HCC):
              hepatic arterial (90) yttrium-labeled glass microspheres
              (Therasphere). Journal of Hepatology (2007).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              44. <strong>Steel JL</strong>, Olek M, & Carr BI. Symptom
              clusters and survival in patients diagnosed with hepatobiliary
              carcinoma. Annals of Behavioral Medicine (2007); Citation Award.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              45. <strong>Steel JL</strong>, Dunlavy A, Theorell T. HIV-risk
              behavior in Sweden: Native Swedes and African refugees.
              International Journal of STDs & AIDS (2008).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              46. Cardinal JS, Marsh, JW, DeVera M, Holloway S, Heckman J,
              <strong>Steel JL</strong>, Geller DA, Fontes P, Marcos A,
              Gamblin TC. Multimodal Management of Epithelial
              Hemangioendothelioma (EHE): A Single Institution Experience with
              Twenty-Five Cases, Annals of Surgical Oncology (2008).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              47. <strong>Steel JL</strong>, Gamblin TC, DeVera M, Marsh W,
              Fontes P, Chopra K. Depressive symptoms, host immunity, and
              survival in hepatitis B and/or C patients awaiting orthotropic
              liver transplantation. Transplantations Proceedings (2008).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              48. <strong>Steel JL</strong>, Geller DA, Olek M, Gamblin TC,
              Carr BI. Depression, immunity, and survival in patients
              diagnosed with hepatobiliary carcinoma. Transplantation
              Proceedings (2008).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              49. <strong>Steel JL</strong>, Geller DA, Olek M, Gamblin TC,
              Carr BI. Health-related quality of life and survival in patients
              diagnosed with hepatocellular carcinoma undergoing treatment
              with transarterial chemoembolization and liver transplantation.
              Journal of Clinical Oncology (2008).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              50. <strong>Steel JL</strong>, Geller DA, Olek M, Gamblin TC,
              Carr BI. Prognostic value of health-related quality of life in
              patients diagnosed with hepatobiliary carcinoma. Journal of
              Clinical Oncology (2008).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              51. Heckman JT, Marsh JW, Fontes P, Amesur NB, Holloway SE,
              deVera MB, Geller DA, <strong>Steel JL</strong>, Marcos A,
              Gamblin TC. Bridging locoregional therapy for hepatocellular
              carcinoma prior to liver transplantation. Annals of Surgery
              (2008).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              52. Ayyash M, <strong>Steel JL</strong>, Martin D, Stone B,
              Abu--Elmagd K. The prevalence of psychiatric disorders in small
              bowel and multivisceral transplant candidates. American Journal
              of Transplantation (2008).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              53. Cho SW, Marsh JW, Holloway S, Heckman J, Geller DA,
              <strong>Steel J</strong>, Gamblin TC. Surgical management of
              hepatocellular adenoma: A single institutional experience.
              Annals of Surgery (2008).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              54. Dhupar R, Marsh JW, Fontes PA, DeVera ME,
              <strong>Steel JL</strong>, Zeh HJ, Geller DA, Marcos A, Gamblin
              TC. Simultaneous pancreatecomy and liver transplantation in
              foregut malignancy. Annals of Surgery (2008).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              55. Cardinal J, Marsh JW, deVera J, Holloway S, Heckman J,
              <strong>Steel JL</strong>, Geller DA, Fontes P, Marcos A,
              Gamblin TC. Multimodal Management of Epithelial
              Hemangioendothelioma (EHE): A Single Institution Experience with
              Twenty-Five Cases. Annals of Surgery (2008).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              56. <strong>Steel JL</strong>, Kim KH, Dew MA, Antoni M, Olek M,
              Geller DA, Carr BI, Butterfield L, Gamblin TC. Symptom clusters,
              immune parameters and survival in hepatobiliary carcinoma.
              Annals of Behavioral Medicine (2008).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              57. <strong>Steel JL</strong>, Dunlavy A, Theorell T.
              Posttraumatic stress disorder, posttraumatic growth and
              acculturation in refugees from sub-Saharan Africa. Annals of
              Behavioral Medicine (2008).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              58. <strong>Steel JL</strong>, Carr BI, Gamblin TC. Process and
              Proxy Rating of Posttraumatic Growth in Patients with
              Hepatobiliary Carcinoma. Annals of Behavioral Medicine (2008)
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              59. <strong>Steel JL</strong>, Carney M, Carr BI, Schulz R,
              Antoni M, Dew MA, Geller DA, Gamblin TC. Predictors of caregiver
              stress. Annals of Behavioral Medicine (2009).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              60. <strong>Steel JL</strong>, Kim K, Schulz R, Antoni M, Dew
              MA, Unruh M, Geller DA, Gamblin TC. Cancer-related fatigue and
              health related quality of life in patients diagnosed with
              hepatobiliary carcinoma. Annals of Behavioral Medicine (2009).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              61. Hammond J, Gamblin TC, Geller DA, Likumahuwa S, Gemmell L,
              <strong>Steel JL</strong>. Expressed emotion and depression in
              hepatobiliary carcinoma. Health Psychology (2009).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              62. <strong>Steel JL</strong>, Gemmell L, Spring M, Antoni M,
              Likumahuwa S, Hoffman K, Day R, Grady J, Dunlavy AC, Hammond J,
              Gamblin TC. Randomized controlled trials in the context of
              behavioral medicine. Health Psychology (2009).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              63. <strong>Steel JL</strong>, Gemmell L, Spring M, Grady J,
              Antoni M, Likumahuwa S, Day R, Schulz R, Gamblin TC. Spiritual
              growth and decline at the end of life. Health Psychology (2009).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              64. <strong>Steel JL</strong>, Geller DA, Olek MC, Carr BI.
              Depression, immunity, and survival in patients diagnosed with
              hepatobiliary carcinoma. Journal of Clinical Oncology (2006).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              65. <strong>Steel JL</strong>, Marsh JW, Youssef M, Dunlavy A,
              Butterfield L, Hammond J, Geller DA, Gamblin TC. The
              consequences of fatigue in patients diagnosed with hepatobiliary
              carcinoma. Psycho-oncology (2010)
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              66. <strong>Steel JL</strong>, Kim K, Unruh M, Schulz R, Antoni
              M, Marsh JW, Youssef M, Dunlavy A, Butterfield L, Hammond J,
              Geller DA, Gamblin TC. Depressive symptoms in patients diagnosed
              with hepatobiliary carcinoma and their family caregivers.
              Psycho-oncology (2010)
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              67. <strong>Steel JL</strong>, Antoni M, Kim K, Schulz R, Marsh
              JW, Youssef M, Dunlavy A, Gamblin TC. Health-related quality of
              life as a prognostic factor in hepatocellular and
              cholangiocarcinoma. Psycho-oncology (2010).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              68. <strong>Steel JL</strong>, Geller DA, Spring M, Grady J,
              Antoni M, Likumahuwa S, Day R, Kim K, Schulz R, Dew MA, Helgeson
              V, Gamblin TC. Caregiver stress and depression in the context of
              advanced cancer. Annals of Behavioral Medicine (2010).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              69. Moore A, Gamblin TC, Geller DA, Youssef M, Hoffman K, Gemmel
              L, Likumahuwa S, Bovbjerg DH, Marsland A,
              <strong>Steel JL</strong> Prospective study of posttraumatic
              growth in patients diagnosed with hepatobiliary carcinoma as
              assessed by self report and by family caregivers. Annals of
              Behavioral Medicine (2010)
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              70. Celinski S, <strong>Steel J</strong>, Nguyen KT, Marsh JW,
              Geller DA, Raizman R, Tsung A, Gamblin TC. Surgical management
              of Neuroendocrine Tumors (NET) metastatic to the liver. Pancreas
              (2010).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              71. <strong>Steel JL</strong>, Marsh JW, Youssef M, Dunlavy A,
              Butterfield L, Hammond J, Geller DA, Gamblin TC. The
              Consequences of fatigue in patients diagnosed with hepatobiliary
              carcinoma. Psycho-oncology (2010).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              72. <strong>Steel JL</strong>, Kim K, Unruh M, Schulz R, Antoni
              M, Marsh JW, Youssef M, Dunlavy A, Butterfield L, Hammond J,
              Geller DA, Gamblin TC. Depressive Symptoms in patients diagnosed
              with hepatobiliary carcinoma and their family caregivers.
              Psycho-oncology (2010).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              73. <strong>Steel JL</strong>, Antoni M, Kim K, Schulz R, Marsh
              JW, Youssef M, Dunlavy A, Gamblin TC. Health-related quality of
              life as a prognostic factor in hepatocellular and
              cholangiocarcinoma. Psycho-oncology (2010).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              74. <strong>Steel JL</strong>, Geller DA, Spring M, Grady J,
              Antoni M, Likumahuwa S, Day R, Kim K, Schulz R, Dew MA, Helgeson
              V, Gamblin TC. Caregiver stress and depression in the context of
              advanced cancer. Annals of Behavioral Medicine (2010).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              75. Moore A, Gamblin TC, Geller DA, Youssef M, Hoffman K, Gemmel
              L, Likumahuwa S, Bovbjerg DH, Marsland A,
              <strong>Steel JL</strong>. Prospective study of posttraumatic
              growth in patients diagnosed with hepatobiliary carcinoma as
              assessed by self report and by family caregivers. Annals of
              Behavioral Medicine (2010).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              76. <strong>Steel JL</strong>, Fedele K, Robinson T, Khalifa M,
              Tarkin I, Siska P, Probst C, Pfeifer R, Zelle BA, Sittaro NA,
              Pape HC. The psychological consequences and benefits of
              traumatic Injury. Journal of Orthopedic Trauma (2011).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              77. Zureikat AH, Bartlett DL, Holtzman MP, Zeh HJII, Brown CK,
              <strong>Steel JL</strong>, Pingpank JF. Isolated hepatic
              perfusion in the treatment of unresectable liver metastasis.
              Annals of Surgical Oncology (2011).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              78. Zureikat AH, Moser AJ, Bartlett DL, Dauodi M,
              <strong>Steel JL</strong>, Secrest A, Zeh HJ. Robotic assisted
              pancreaticoduodenectomy at a high-volume pancreatic center.
              Annals of Surgical Oncology (2011).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              79. Choudry M, Zureikat AH, <strong>Steel J</strong>, Tsung A,
              Bartlett DL, Lee K, Hughes, Zeh H, Moser AJ. Oncologic outcomes
              following minimally-invasive distal pancreatectomy for
              pancreatic adenocarcinoma: Matched comparison with open
              resection. Annals of Surgical Oncology (2011).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              80. Daouadi M, Secrest AM, <strong>Steel JL</strong>, Saul A,
              Choudry M, Zureikat AH, Tsung A, Bartlett DL, Ahrendt S, Lee KK,
              Moser AJ, Zeh HJ. Minimally-invasive distal pancreatectomy:
              Comparison of robotic and laparoscopic approach. HPB (2011).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              81. Austin F, Choudry HA, Mavanur A, Sathaiah M,
              <strong>Steel J</strong>, Ramalingam S, Holtzman M, Ahrendt S,
              Pingpank J, Zeh H, Bartlett D. Appendiceal adenocarcinomas:
              Clinico-pathologic and oncologic outcomes following
              cytoreductive surgery and hyperthermic intraperitoneal
              chemoperfusion. Regional Cancer Therapies (2011).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              82. Reddy K, Barbas S, Turley J, <strong>Steel JL</strong>,
              Tsung A, Marsh, JW, Clary BM. A standard definition of major
              hepatectomy resection of four or more liver segments. HBP
              (2011).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              83. Reddy SK, Turley RS, Barbas AS, <strong>Steel JL</strong>,
              Tsung A, Marsh JW, Clary BM, Geller DA. Pharmacologic
              thromboprophylaxis after major hepatectomy: Does peripheral
              venous thromboembolism prevention outweigh the bleeding risk?
              Annals of Surgical Oncology (2011).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              84. Kitisin K, Packiam V, <strong>Steel J</strong>, Humar A,
              Gamblin TC, Geller DA, Marsh JW, Tsung A. Presentation and
              Outcomes of Hepatocellular Carcinoma (HCC) Patients at a Western
              Center. HPB (2011).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              85. Amersur N, <strong>Steel JL</strong>, Marsh WJ. Evaluation
              of health-related quality of life in patients treated with
              Transarterial Chemo-embolization and Yttrium-90 for
              hepatocellular carcinoma. Radiology (2012).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              86. <strong>Steel JL</strong>, Geller DA, Cesarz Z, Brower D,
              Marsh W, Friday M, Kingsley K, Kim, Antoni M, Tsung A.
              Depression and inflammation in the serum and tumor
              microenvironment. Annals of Behavioral Medicine (2012).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              87. <strong>Steel JL</strong>, Kim YM, Spring M, Grady J,
              Kinsley K, Friday M, Kim K, Butterfield L, Geller D, Marsh W,
              Tsung A. Cancer Caregiving: The role of stress on immunity and
              health. Psycho-oncology (2012).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              88. Han K, Golas BJ, Dong H, Chidi AP,
              <strong>Steel JL</strong>, Geller DA, Tsung A. Minimally
              invasive resection of hepatic metastases from colorectal cancer
              reduces time to initiation of adjuvant chemotherapy. Success in
              Academic Surgery (2013)
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              89. Butt Z, Lai J-S, Beaumont JL, Kaiser K, Mallick R, Cella D,
              <strong>Steel JL</strong>. Psychometric properties of a brief,
              clinically-relevant measure of pain in patients with
              hepatocellular carcinoma. Quality of Life Research (2013).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              90. <strong>Steel JL</strong>, Kim KH, Gamblin TC, Fraser D,
              Brower D, Biala M, Savkova A, Butterfield L, Geller DA, Marsh
              JW, Tsung A. The course of depression, inflammation, and
              survival in the context of advanced cancer. Journal of Clinical
              Oncology (2013).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              91. <strong>Steel JL</strong>, Kim KH, Geller DA, Antoni M,
              Marsh JW, Fraser D, Brower D, Orsod J, Biala M, Phillips C,
              Savkova A, Tsung A Depression, inflammation, and survival in
              advanced cancer. Health Psychology (2013).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              92. <strong>Steel JL</strong>, Fedele K, Robinson T, Khalifa M,
              Tarkin I, Siska P, Probst C, Pfeifer R, Zelle BA, Sittaro NA,
              Pape HC. The prevalence and predictors of smoking after
              traumatic injury. Annals of Behavioral Medicine (2013).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              93. <strong>Steel JL</strong>, Geller DA, Kim K, Butterfield L,
              Spring M, Grady J, Brower D, Sun W, Dew MA, Antoni M, Tsung A.
              Web-based stepped collaborative care intervention in the context
              of advanced cancer. Journal of Clinical Oncology (2014).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              94. Collins K, Kim K, Geller DA, Tsung A, Green A, Kirk K,
              Santiago L, Marsh W, Kamarck T, Buysse D,
              <strong>Steel JL</strong>. Sleep problems and increased risk of
              mortality in the context of advanced cancer. Journal of Clinical
              Oncology (2014).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              95. <strong>Steel JL</strong>, Geller DA, Collins K, Kim K,
              Antoni M, Lowery A, Dew MA, Labash C, Brower D, Kamarck T,
              Buysse D, Tsung A. Sleep problems, inflammation, and mortality
              in cancer survivors. Psycho-oncology (2014).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              96. <strong>Steel JL</strong>, Lowery A, Geller DA, Marsh JW,
              Schulz R, Dew MA, Antoni M, Collins K, Buysse D, Kamarck T,
              Tsung A. Prevalence of sleep problems in spousal and intimate
              partner caregivers of patients diagnosed with hepatobiliary
              cancer and consequences to quality of life. Psycho-oncology
              (2014).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              97. Bress K, Amesur N, Tsung A, Zajko A, Geller D, Marsh J,
              <strong>Steel JL</strong>. Health related quality of life and
              survival in patients diagnosed with hepatocellular carcinoma and
              treated with transarterial chemoembolization or yttrium-90.
              Annals of Oncology (2014).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              98. <strong>Steel JL</strong>, Geller DA, Kim KH, Dew MA,
              Terhorst L, Antoni M, Brower D, Kosciusko R, Bugbee P,
              Butterfield L, Tsung A. Symptom clusters, inflammation, and
              survival in advanced cancer patients. Annals of Behavioral
              Medicine (2015).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              99. <strong>Steel JL</strong>, Geller DA. Marsh W. Brower D,
              Antoni M. Kim KH, Butterfield L, Dew MA, Kirk K, Tsung A.
              Patient Reported Outcomes versus Caregiver Reported Outcomes in
              predicting patient survival. Annals of Behavioral Medicine
              (2015).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              100. <strong>Steel JL</strong>, Geller DA, Marsh W, Tsung A. The
              role of trauma in quality of life, inflammation, and survival.
              Journal of Traumatic Stress (2015).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              101. Siegal J, Humar A, Gianaros P, Ahmed N, Savkova A, Harding
              C, Ordos J, <strong>Steel JL</strong>. An assurance of
              insurance: Should living kidney donors be required to have
              health insurance. American Journal of Transplantation (2016)
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              102. Phillips C, Kingsley K, Dulovich M, Kirk K, Ahmed N, Geller
              DA, Tsung A, Marsh W, <strong>Steel JL</strong>. Screening for
              depression in an outpatient oncology clinic. Psycho-oncology
              (2016).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              103. Cheng HH, Kamarck TW, Gianaros PJ, Roecklein KA, Tsung, A,
              Geller, DA, Marsh JW, Ahmed NS, <strong>Steel JL</strong>.
              Gender differences and socioeconomic disparities of depression
              and IL-2 about survival in hepatocellular carcinoma. Annals of
              Behavioral Medicine (2016).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              104. <strong>Steel JL</strong>, Geller DA, Marsh JW, Antoni M,
              Penedo F, Vodovotz Y, Zamora R, Terhorst L, Butterfield L, Burke
              L, Tsung A. Depression and increased risk of mortality in
              cancer: The underlying biological mechanisms remain elusive.
              Psycho-oncology (2016).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              105. <strong>Steel JL</strong>, Geller DA, Ordos J, Ahmed N,
              Savkova A, Phillips C, Marsh JW, Antoni M, Pathak R, Tsung A.
              Early and late adverse life events associated with poorer
              quality of life, inflammation, and increased risk of mortality.
              Annals of Behavioral Medicine (2016).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              106. <strong>Steel JL</strong>, Vodovotz Y, Zamora R, Rothman R,
              Ferrero K, Terhorst L, Antoni M, Geller DA, Marsh W, Tsung A.
              Tumor necrosis factor and the damage-associated molecular
              pattern molecule HMGB1 as potential mediators of depression and
              survival. Psycho-oncology (2016).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              107. <strong>Steel JL</strong>, Geller DA, Marsh JW, Antoni M,
              Penedo F, Butterfield L, Pathak R, Burke L, Savkova A, Tsung A.
              The psychological, behavioral and health sequelae of stress
              after a diagnosis of cancer. Psycho-oncology (2016).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              108. <strong>Steel JL</strong>, Vodovotz Y, Zamora R, Rothman R;
              Ferrero K, Terhorst L, Antoni M, Geller DA, Marsh JW, Tsung A.
              Tumor necrosis factor and the damage-associated molecular
              pattern molecule HMGB1 as potential mediators of depression and
              survival. Psycho-Oncology (2016).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              109. <strong>Steel JL</strong>, Hua M, Scott P, Cheng H, Geller
              DA, Marsh J, Antoni M, Burke L, Penedo F, Butterfield L,
              Vodovotz Y, Tsung A, Social support: predictor of mortality in
              gastrointestinal cancer patients. Psycho-Oncology (2017).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              110. Ajayl-Fox, Swaminathan V, <strong>Steel J</strong>, Behari
              J. Feasibility of using internet-based support groups for
              alcohol abstinence in patients with alcohol-related cirrhosis.
              Gastroenterology. (2017).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              111. Ajayl-Fox, Swaminathan V, <strong>Steel J</strong>, Behari
              J. Perceptions of strength of social support amongst patients
              with decompensated alcoholic cirrhosis. Gastroenterology (2017).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              112. Patel V, Tohme S, Tsung A, Geller DA, Marsh JW, Bress K,
              <strong>Steel JL</strong>. Quality of life and survival in
              hepatobiliary surgery. Academic Surgical Congress (2017).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              113. <strong>Steel JL</strong>, Geller DA, Spring M, Antoni M,
              Marsh W, Tsung A. Web-based stepped collaborative care
              intervention in the oncology setting: Lessons learned from the
              pilot study and advances in technology. Psychosomatic Medicine
              (2017).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              114. Jakubowski K, Jhamb M, Bender F, <strong>Steel JL</strong>.
              Technology-Assisted Cognitive-Behavioral Therapy Intervention
              for Chronic Kidney Disease. Psychosomatic Medicine (2017).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              115. <strong>Steel JL</strong>, Scott P, Hua M, Geller DA, Wang,
              Y, Marsh J, Antoni M, Burke L, Penedo F, Butterfield L, Vodovotz
              Y, Tsung A. Predicting the course of depression and stress and
              the link with mortality in patients with gastrointestinal
              cancers. Psychosomatic Medicine (2017).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              116. <strong>Steel JL</strong>, Geller DA, Antoni M, Terhorst L,
              Penedo F, Burke L, Tsung A. Sedentary lifestyle and greater
              symptom burden in patients diagnosed with cancers affecting the
              hepatobiliary and pancreatic system. Annals of Behavioral
              Medicine (2017).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              117. Krane DM, Terhorst L, Bovbjerg D, Scheier M, Kucinski B,
              Geller DA, Marsh W, Tsung A, <strong>Steel JL</strong>. Putting
              the life in lifestyle: Lifestyle choices after a diagnosis of
              cancer predict mortality. University of Pittsburgh Cancer
              Institute’s Scientific Retreat (2017).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              118. <strong>Steel JL</strong>, Hua M, Scott P, Cheng H, Geller
              DA, Marsh J, Antoni M, Burke L, Penedo F, Butterfield L,
              Vodovotz Y, Tsung A. Social support: Predictor of mortality in
              gastrointestinal cancer patients. Psycho-oncology (2017)
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              119. <strong>Steel JL</strong>, Geller DA, Marsh W, Miceli J,
              Gray K, Tsung A. The role of the host in cell-mediated immunity
              and cancer progression. International Conference on Cytokine
              signaling (2017).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              120. Ajaju-Fox P, Swaminathan V, <strong>Steel JL</strong>,
              Behari J The impact of strength of social support on alcohol use
              behaviors in patients with alcohol related cirrhosis. American
              Association for the Study of Liver Disease (2017).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              121. Porter L, <strong>Steel J</strong>, Bull J, Hanson L,
              LeBlanc TW, Fisher S, Keefe F. Caregiver-guided pain management
              for patients with advanced cancer. European Health Psychology
              Society meeting (2017).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              122. <strong>Steel JL</strong>, Geller DA, Miceli J, Marsh W,
              Bradley TJ, Antoni M, Penedo F, Burke L, Tsung A. Physical
              inactivity and alcohol use predict shorter survival after a
              diagnosis of gastrointestinal cancer. Psycho-Oncology (2018).
              Best of the Best Oral Presentations
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              123. Miceli J, Geller DA, Tsung A, Marsh W, Antoni M, Penedo F,
              Burke L, Ell K, <strong>Steel JL</strong>. Illness perceptions
              and perceived stress in patients with advanced cancer. Annals of
              Behavioral Medicine (2018)
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              124. <strong>Steel JL</strong>, Wang Y, Pathak R, Cheng H, Geena
              Richards, Ell K, Buysse D, Miceli J, Marsh J, Antoni M, Ell K,
              Geller DA, Tsung A. Caregiving and risk for cardiovascular
              disease in advanced cancer caregivers. Psycho-Oncology (2018)
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              125. Cheng H, Kamarck T, Gianaros PJ, Roecklein KA, Tsung A,
              Geller DA, Marsh JW, Wang Y, Ahmed NS,
              <strong>Steel JL</strong>. Socioeconomic predictors of symptom
              severity and survival in patients diagnosed with hepatocellular
              carcinoma. Psycho-Oncology (2018)
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              126. Puleo B, Keefe F, Bull J, Hanson L, Fischer S, LeBlanc T,
              <strong>Steel JL</strong>, Porter L. High levels of holding back
              associated with higher caregiver strain and psychological
              distress among caregivers of patients with advanced cancer and
              pain. Annals of Behavioral Medicine (2018). Best of the Best
              Oral Presentations.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              127. <strong>Steel JL</strong>, Ganesh S, Lai A, Shen S,
              Zharichenko N, Nawaz S, Kingsley K, Dulovich M, Tevar A, Hughes
              C, Humar A. Medical and Psychosocial Outcomes of Good Samaritan
              Living Liver Donors. American Journal of Transplantation (2018).
              Poster Distinction.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              128. <strong>Steel JL</strong>, Dulovich M, Kingsley K, Ganesh
              S, Ola O, Lai A, Shen S, Zharichenko N, Nawaz S, Tevar A, Hughes
              C, Humar A. Occupational and Financial Outcomes of Directed and
              Non-Directed Living Liver Donors. American Journal of
              Transplantation (2018)
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              129. Lai A, <strong>Steel JL</strong>, Ganesh S, Ola O, Shen S,
              Zharichenko N, Nawaz S, Tevar A, Humar A. Living liver donation:
              The role of Facebook in directed donation. American Journal of
              Transplantation (2018)
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              130. Tevar AD, Lemon K, Wu C, Shah N, Mehta R, Puttarajappa CM,
              Sood P, Hariharan S, Ganoza A, Wijkstrom M, Molinari M, Humar A,
              Wang Y, <strong>Steel JL</strong>. Objective Markers of Frailty
              Predict Successful Listing and Survival for Renal Transplant.
              American Journal of Transplantation (2018). Poster Distinction.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              131. Nathan J and Prospective Observational Study of TPIAT
              (POST). Surgical techniques and complications in children and
              adults undergoing total pancreatectomy with islet
              autotransplantation: Updates from POST”. Pancreas (2018). Poster
              of Distinction.
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              132. Bellin M and Prospective Observational Study of TPIAT
              (POST). Updates on the Prospective Observational Study of TPIAT
              (POST): Approach and Participant Characteristics. Pancreas
              (2018).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              133. Abu-El-Haija M and Prospective Observational Study of TPIAT
              (POST). Nutritional status of children and adults before total
              pancreatectomy with islet autotransplantation (TPIAT): Updates
              from the Prospective Observational Study of TPIAT (POST).
              Pancreas (2018).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              134. <strong>Steel JL</strong>, Wang Y, Cheng H, Pathak R,
              Miceli J, Hecht CL, Geller DA, Marsh W, Tsung A. Preliminary
              findings for the differential biobehavioral pathways of
              cardiovascular risk in cancer caregivers. International Journal
              of Behavioral Medicine (2018).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              135. <strong>Steel JL</strong>, Miceli J, Geller DA, Marsh W,
              Bradley T, Tsung A, Jackson H, Cheng H, Pathak R, Wang Y. The
              use of the Center for Epidemiological Studies-Depression Scale
              for screening advanced cancer patients. Journal of Psychosomatic
              Medicine (2019)
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              136. <strong>Steel JL</strong>, Cheng H, Pathak R, Wang Y,
              Miceli J, Hecht CL, Haggerty D, Vanegas Y, Geller DA, Marsh W,
              Tsung A. Psychological and Behavioral Predictors of Metabolic
              Abnormalities in Cancer Caregivers. Psycho-Oncology (2019).
              Chair of Symposium entitled Innovative Translational Research
              Approaches to Enhance Cancer Caregivers' Health
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              137. <strong>Steel JL</strong>, Richards G, Billiar T, Procopio
              J, Miceli J, Hecht CL, Kucinski B, Tsung A, Murphy E, Marsh W,
              Antoni M, Vodovotz Y, Layshock M, Spring M, Pathak R, Cheng H,
              Geller DA. Depression and Health Care Utilization and Costs in
              Patients Diagnosed with Cancer. Journal of Clinical Oncology
              (2019).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              138. <strong>Steel JL</strong>, Richards G, Miceli J, Hecht CL,
              Lee J, Antoni M, Peddada S, Flaig C, Olejniczak D, Geller DA.
              Efficacy of a Stepped Collaborative Care Intervention for
              Patients Diagnosed with Comorbid Cancer and Depression.
              Psychology and Health (2019).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              139. Richards G, Geller DA, Billiar T, Procopio J, Kucinski B,
              Tsung A, Murphy E, Marsh W, Antoni M, Vodovotz Y, Spring M,
              Pathak R, Cheng H, Sidleck B, <strong>Steel JL</strong>.
              Efficacy of a Stepped Collaborative Care Intervention for
              Comorbid Cancer and Depression: Health Care Utilization and
              Costs. Journal of Clinical Oncology (2019)
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              140. <strong>Steel JL</strong>, Jang E, Antoni M, Gunsallus B,
              Peddada S, Jones R, Cowan R, Olejniczak D, Chen Q, Geller DA.
              Sensitivity and Specificity of Screening Tools for Cancer
              Related Symptoms. Psychology and Health (2019).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              141. <strong>Steel JL</strong>, Richards G, Miceli J, Hecht CL,
              Lee J, Antoni M, Peddada S, Flaig C, Olejniczak D, Geller DA.
              Efficacy of a Stepped Collaborative Care Intervention for
              Patients Diagnosed with Comorbid Cancer and Depression. The
              European Health Psychologist (2019).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              142. <strong>Steel JL</strong>, Jang E, Antoni M, Gunsalius B,
              Peddada S, Jones R, Cowan R, Olejniczak D, Chen Q, Geller DA.
              Sensitivity and Specificity of Screening Tools for Cancer
              Related Symptoms. The European Health Psychologist (2019).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              143. Cowan R, Gunsallus B, Geller DA, Bovbjerg D, Pathak R,
              Antoni M, Olejniczak D, <strong>Steel JL</strong>. Predictors of
              Stress and Substance Use in Cancer Patients and their
              Caregivers. Journal of Psychosocial Oncology Research & Practice
              (2019).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              144. Jones R, Moore D, Kamarck T, Geller DA, Miceli J, Hecht CL,
              Spring M, Pathak R, Chen Q, <strong>Steel JL</strong>. The
              Development of a Scale to Assess Risk for Metabolic in Cancer
              Caregivers: Preliminary Findings. Journal of Psychosocial
              Oncology Research & Practice (2019).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              145. Richards G, Geller DA, Billiar T, Procopio J, Kucinski B,
              Tsung A, Murphy E, Antoni M, Spring M, Pathak R, Cheng H,
              <strong>Steel JL</strong>. Preliminary Findings of the Efficacy
              of a Stepped Collaborative Care Intervention for Patients
              Diagnosed with Comorbid Cancer and Depression. Journal of
              Psychosocial Oncology Research & Practice (2019).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              146. <strong>Steel JL</strong>, Richards G, Miceli J, Hecht CL,
              Lee J, Antoni M, Peddada S, Flaig C, Olejniczak D, Chen Q,
              Geller DA The link between depression and health care
              utilization and costs in patients diagnosed with advanced
              cancer. Journal of Psychosocial Oncology Research & Practice
              (2019).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              147. <strong>Steel JL</strong>, Jang E, Antoni M, Gunsallus B,
              Peddada S, Jones R, Cowan R, Olejniczak D, Chen Q, Geller DA.
              Sensitivity and Specificity of Screening Tools for Cancer
              Related Symptoms. Journal of Psychosocial Oncology Research &
              Practice (2019).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              148. Porter L, <strong>Steel JL</strong>, LeBlanc T, Faircloth
              D, Samsa G, Fischer S, Bull, Hanson L, Keefe F. Caregiver-Guided
              Pain Management for Advanced Cancer: Results of a Randomized
              Controlled Trial. Journal of Palliative Care Medicine (2020).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              149. Hecht CL, Geller DA, Tsung A, Marsh A, Miceli J, Jackson H,
              Lee J, Sidleck B, Jang J, <strong>Steel JL</strong>. Trait
              mindfulness and its relationship to cancer caregivers'
              psychological and physical health. Southwestern Psychological
              Association (2019).
            </p>
            <hr class="p-2 m-2" />
            <p class="text-justify">
              150. <strong>Steel JL</strong>, Richards G, Miceli J, Hecht CL,
              Lee J, Antoni M, Peddada S, Flaig C, Olejniczak D, Geller DA.
              Interim Analysis of a Stepped Collaborative Care Intervention
              for Patients Diagnosed with Comorbid Cancer and Depression.
              Journal of Clinical Oncology (2019).
            </p>