<h3>
              Advancing treatment for pancreatitis: A prospective observational
              study of TPIAT
            </h3>
            <p class="text-justify">
              <strong>Purpose</strong> — To test the efficacy of islet cell
              transplant in patients with chronic pancreatitis.
              <br />
              <strong>Co-Investigator</strong> — Jennifer Steel, PhD
            </p>
            <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Funding Agency</th>
                  <th scope="col">Title</th>
                  <th scope="col">Role</th>
                  <th scope="col">Year(s)</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    National Institute of Diabetes, Digestive, and Kidney
                    Diseases<br />
                    R01DK109124
                  </td>
                  <td>
                    Advancing treatment for pancreatitis: A prospective
                    observational study of TPIAT
                  </td>
                  <td>
                    Co-I<br />
                    1% effort
                  </td>
                  <td>2016-2022</td>
                  <td>
                    Total: $3,744,935<br />
                    Direct: $513,774<br />
                    Indirect: $162,591
                  </td>
                </tr>
              </tbody>
            </table>
            <hr class="p-2 m-2" />
            <h3>
              Physical Activity and Renal Transplant Patients and their Family
              Caregivers
            </h3>
            <p class="text-justify">
              <strong>Purpose</strong> — To test the efficacy of a physical
              activity intervention to reduce frailty and improve transplant
              outcomes.
              <br />
              <strong>Co-Investigator</strong> — Jennifer Steel, PhD
            </p>
            <hr class="p-2 m-2" />
            <h3>
              Medical, Psychosocial and Financial Outcomes of living donation
            </h3>
            <p class="text-justify">
              <strong>Purpose</strong> — To examine the psychosocial, medical,
              and financial outcomes of living donors.
              <br />
              <strong>Principal Investigator</strong> — Jennifer Steel, PhD
            </p>