<%- include('_header') -%>

<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
            <span>Mission and Team</span>
        </li>
        <li class="breadcrumb-item" aria-current="page">
            <a href="#"><%= title %></a>
        </li>
    </ol>
</nav>

<!-- Contents -->
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 jumbotron">
      <div class="card">
        <div class="card-header">
          <h4><strong>Jennifer Steel, Ph.D.</strong></h4>
        </div>
        <div class="card-body">
          <p>
            Director, Center for Excellence in Behavioral Medicine
          </p>
          <p>University of Pittsburgh School of Medicine</p>
          <p>
            Department of Surgery
          </p>
        </div>
        <div class="card-footer">
          <p>
            Address:
            3471 Fifth Avenue, Suite 601
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Pittsburgh PA 15213
          </p>
          <p>Phone: 412.692.2041</p>
          <p>Fax: 412.692.2002</p>
          <p>email: steeljl@upmc.edu</p>
          <p>
            <a href="http://www.surgery.pitt.edu/people/jennifer-steel-phd">  http://www.surgery.pitt.edu/people/jennifer-steel-phd</a>
          </p>
          <p>
            <a href="http://www.upmccancercenters.com/liver/">http://www.upmccancercenters.com/liver/</a>
          </p>
        </div>
      </div>
    </div>
  </div>

<%- include('_footer') -%>