<%- include('_header') -%>

<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
            <span>Mission and Team</span>
        </li>
        <li class="breadcrumb-item" aria-current="page">
            <a href="#"><%= title %></a>
        </li>
    </ol>
</nav>

<!-- Contents -->
<div class="container">
    <div class="row">
      <div class="col">
        <h2>
          Diversity & Inclusion: Critical for Research Innovation and Care
        </h2>
        <p>
          At the Center for Excellence in Behavioral Medicine, diversity and
          inclusion are critical to success. Together, we have built an
          inclusive culture that encourages, supports, and celebrates diversity.
          Inclusion and diversity drives research innovation and is imperative
          to the relevance and sustainability of the services offered.
        </p>
        
          <div class="card">
            <div class="card-body">
              <div class="card-header">
                University of Pittsburgh Medical Center
              </div>
              <div class="card-body">
                <a
                  href="https://www.upmc.com/about/community-commitment/inclusion"
                  >https://www.upmc.com/about/community-commitment/inclusion</a
                >
                <br>
                <a
                  href="https://www.upmc.com/about/community-commitment/inclusion/employees/diverse-workplace"
                  >https://www.upmc.com/about/community-commitment/inclusion/employees/diverse-workplace</a
                >
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="card-header">University of Pittsburgh</div>
              <div class="card-body">
                <a href="https://www.diversity.pitt.edu/"
                  >https://www.diversity.pitt.edu/</a
                >
                <a
                  href="https://www.pittwire.pitt.edu/category/diversity-community"
                  >https://www.pittwire.pitt.edu/category/diversity-community</a
                >
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="card-header">
                University of Pittsburgh School of Medicine
              </div>
              <div class="card-body">
                <a
                  href="http://www.somgrad.pitt.edu/about-us/diversity-and-inclusion"
                  >http://www.somgrad.pitt.edu/about-us/diversity-and-inclusion</a
                >
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="card-header">
                University of Pittsburgh Health Sciences
              </div>
              <div class="card-body">
                <a href="https://www.healthdiversity.pitt.edu/"
                  >https://www.healthdiversity.pitt.edu/</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<%- include('_footer') -%>