<%- include('_header') -%>

<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
            <span>Mission and Team</span>
        </li>
        <li class="breadcrumb-item" aria-current="page">
            <a href="#"><%= title %></a>
        </li>
    </ol>
</nav>

<!-- Contents -->
<div class="row justify-content-center">
    <div class="col-sm-8 jumbotron">
        <p>No positions currently open</p>
    </div>
</div>

<%- include('_footer') -%>