<%- include('_header') -%>

<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
            <span>Mission and Team</span>
        </li>
        <li class="breadcrumb-item" aria-current="page">
            <a href="#"><%= title %></a>
        </li>
    </ol>
</nav>

<!-- Contents -->
<div class="row justify-content-center">
    <div class="col-sm-8">
        <br>
        <h2>
            Mission Statement and Goals
        </h2>
        <p>
            The Center for Excellence in Integrated Behavioral Medicine
            constitutes an interdisciplinary team focused on the development and
            integration of behavioral and biomedical knowledge and techniques,
            relevant to health and illness, as well as its application to
            prevention, diagnosis, treatment and rehabilitation.
        </p>
        <p>
            The goals of the Center include:
        </p>
        <ul>
            <li>
                Promoting the integration of clinical services, training, and
                research
            </li>
            <li>
                Advancing research to facilitate the understanding of the
                association between psychological, social, behavioral, and
                biological factors that may influence the disease and health
            </li>
            <li>
                Integrating assessment and treatment of behaviors and psychiatric
                symptoms, that have been demonstrated to increase morbidity and
                mortality, into routine medical care
            </li>
            <li>
                Offering interdisciplinary training opportunities across disciplines
            </li>
        </ul>
    </div>
</div>


<%- include('_footer') -%>