<%- include('_header') -%>

<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
            <span>Mission and Team</span>
        </li>
        <li class="breadcrumb-item" aria-current="page">
            <a href="#"><%= title %></a>
        </li>
    </ol>
</nav>

<!-- Contents -->
<div class="row justify-content-center">
    <div class="col-sm-8">
      <h2>Team</h2>
      <p>
        Behavioral medicine is an interdisciplinary field and includes
        clinicians and researchers who are interested in the psychological,
        behavioral, biological, social, and cultural factors associated with
        health and disease
      </p>
      <p>Members may come from a variety of disciplines (not exhaustive)</p>
      <div class="row">
        <div class="col-sm-6">
          <ul>
            <li>Social work</li>
            <li>Medicine</li>
            <li>Psychiatry</li>
            <li>Psychology</li>
            <li>Public health</li>
            <li>Pastoral care</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul>
            <li>Nutrition</li>
            <li>Nursing</li>
            <li>Pharmacy</li>
            <li>Sociology</li>
            <li>Anthropology</li>
          </ul>
        </div>
      </div>
      <br /><br />
      <div class="row">
        <div class="col-sm-6">
          <h6>
            Members
          </h6>
          <ul>
            <li>Donna Olejniczak</li>
            <li>Aarshati Amin</li>
            <li>Tristen Peyser</li>
            <li>Reyna Jones</li>
            <li>Carol Lynn Hecht</li>
            <li>Jessica Miceli</li>
            <li>Emily Tillman</li>
            <li>Rachel Jones</li>
            <li>Mary Ray</li>
            <li>Jennifer Steel</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <h6>Students</h6>
          <ul>
            <li>Yohanne Simons</li>
            <li>Robin Burk</li>
            <li>Elizabeth Gammer</li>
            <li>Blake Sildeck</li>
            <li>Ilse Smilo-Morgan</li>
            <li>Niva Pandya</li>
            <li>Sanika Panwalkar</li>
            <li>Carly Flaig</li>
            <li>Jia Zeyao</li>
            <li>Hui Jing</li>
            <li>Danielle Douse</li>
            <li>Nicole Cruder</li>
            <li>Sara Gaskil</li>
            <li>Skukura Woods</li>
            <li>Monica Wallace</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

<%- include('_footer') -%>