<br/>
<br/>
<br/>
<br/>
<br/>
<!-- Footer -->
<div class="container-fluid">
    <hr>
    <div class="row">
        <div class="col">
            <center>
                <h4>
                    Company
                </h4>
            </center>
            <br />
            <center>
                <div>
                    <a
                        href="https://www.upmc.com/?&ds_lpt_start&ds_lpt_end&gclid=CjwKCAjwhOD0BRAQEiwAK7JHmIANggr4mh88WMcZfjc_1C9UC7PEULMsb5NEZXlcBVt6MLUrgSb3rhoCjpEQAvD_BwE&gclsrc=aw.ds">
                        <font color="#771B61"><b>UPMC</b></font>
                    </a>
                    <br />
                    <a href="https://www.medschool.pitt.edu/">
                        <font color="#771B61"><b>University of Pittsburgh</b></font>
                    </a>
                </div>
            </center>

        </div>
        <div class="col">
            <center>
                <h4>
                    Contact Us
                </h4>
            </center>
            <br />
            <center>

                <font color="#771B61">
                    <b> Call: 412-692-2041
                        <br />
                        Email: steejl@upmc.edu
                    </b>
                </font>

            </center>
        </div>
        <div class="col">
            <center>
                <h4>
                    Facebook
                    <br />
                </h4>
            </center>
            <center></center>
            <br />
            <a href="https://www.facebook.com/CenterforExcellenceinBehavioralMedicine/">
                <img src="https://cdn.glitch.com/26fee265-d381-4dfc-b295-52f0df84ed22%2F579d87f1-5ae6-4ec0-91ee-07ddcfb837f7.image.png?v=1587099115787"
                    class="rounded mx-auto d-block" height="50" weight="50" alt="...">
            </a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <center>
                <h4>
                    Disclaimer
                </h4>
                <p>
                    Any links to other websites are provided only for the purpose of convenience or information, and
                    do<br />
                    not constitute a referral or endorsement of any of these sites or the owners, services,
                    products<br />
                    or content on those sites. is not The Center for Excellence in Behavioral Medicine, UPMC and
                    University<br />
                    of Pittsburgh are not responsible for any aspect of any third-party service providers or websites
                    that
                    <br />
                    may be linked from this site, including without limitation the accuracy of content on those services
                    or<br />
                    use of information you may provide to those services. Your use of third-party websites is at your
                    own<br />
                    risk and subject to the terms and conditions of use for such websites.
                </p>
                <p>
                    <font color="#771B61"> <b>
                            This website is monitored at all times therefore if you are having a medical or psychiatric
                            <br />
                            emergency you should go to your nearest emergency room or call 911.<br />

                        </b>
                    </font>


                </p>
            </center>


        </div>
    </div>
</div>



</body>

</html>