<!-- Graduate or Professional Resources -->

<div class="card mt-4">
    <div class="card-body">
        <h5 class="card-title">Social Work</h5>
        <ul>
            <li>
                <a href="https://www.socialwork.pitt.edu/academics/field-education/current-internshipfield-placement-descriptions"
                    target="_blank">https://www.socialwork.pitt.edu/academics/field-education/current-internshipfield-placement-descriptions</a>
            </li>
        </ul>
        <hr>
        <h5 class="card-title">Counselors and Psychologists</h5>
        <ul>
            <li>
                <a href="http://psychology.pitt.edu/clinical-program" target="_blank">
                    http://psychology.pitt.edu/clinical-program
                </a>
            </li>
            <li>
                <a href="https://www.chatham.edu/academics/graduate/psychology-doctorate/index.html" target="_blank">
                    https://www.chatham.edu/academics/graduate/psychology-doctorate/index.html
                </a>
            </li>
            <li>
                <a href="https://www.carlow.edu/PsyD_Counseling_Psychology.aspx"
                    target="_blank">https://www.carlow.edu/PsyD_Counseling_Psychology.aspx
                </a>
            </li>
            <li>
                <a href="https://www.psychiatry.pitt.edu/education-training/clinical-psychology-internship"
                    target="_blank">https://www.psychiatry.pitt.edu/education-training/clinical-psychology-internship
                </a>
            </li>
        </ul>
        <hr>
        <h5 class="card-title">Medical and Surgical</h5>
        <ul>
            <li>
                <a href="http://www.surgery.pitt.edu/people/jennifer-steel-phd Fellows"
                    target="_blank">http://www.surgery.pitt.edu/people/jennifer-steel-phd
                    Fellows</a>
            </li>
        </ul>
        <hr>
        <h5 class="card-title">Funding Researches for Trainees</h5>
        <ul>
            <li>
                <a href="http://www.psychology.pitt.edu/undergraduate/experiential-learning/honors-psychology"
                    target="_blank">http://www.psychology.pitt.edu/undergraduate/experiential-learning/honors-psychology</a>
            </li>
            <li>
                <a href="https://www.nigms.nih.gov/training/Pages/Undergraduate-and-Predoctoral-Grant-Programs.aspx"
                    target="_blank">https://www.nigms.nih.gov/training/Pages/Undergraduate-and-Predoctoral-Grant-Programs.aspx</a>
            </li>
        </ul>
    </div>
</div>