<!-- Research Consultation -->
<div class="card mt-4">
    <h3 class="card-header">Research Consultation</h3>
    <div class="card-body">
        <p>The team will facilitate the design of your study and provide reliable and valid instruments for your study.
        </p>
    </div>
</div>

<!-- Design and Methods -->
<div class="card mt-4">
    <h3 class="card-header">Design and Methods</h3>
    <div class="card-body">
        <p>The team can assist with the best strategy for data collection in your setting using state of the art
            technology for data capture and analysis.</p>
    </div>
</div>

<!-- Statistical -->
<div class="card mt-4">
    <h3 class="card-header">Statistical</h3>
    <div class="card-body">
        <p>The team can assist with data management and basic statistical analyses.</p>
    </div>
</div>