<!-- Directed Research -->
<div class="card mt-4">
    <h3 class="card-header">Directed Research</h3>
    <div class="card-body">
        <h5 class="card-title">Psychology</h5>
        <ul>
            <li>
                <a href="http://www.psychology.pitt.edu/undergraduate/experiential-learning/directed-research"
                    target="_blank">http://www.psychology.pitt.edu/undergraduate/experiential-learning/directed-research</a>
            </li>
        </ul>
        <hr>
        <h5 class="card-title">Neuroscience</h5>
        <ul>
            <li>
                <a href="http://neuroscience.pitt.edu/programs/undergraduate-program/research-opportunities"
                    target="_blank">http://neuroscience.pitt.edu/programs/undergraduate-program/research-opportunities</a>
            </li>
        </ul>
        <hr>
        <h5 class="card-title">Biological Sciences</h5>
        <ul>
            <li>
                <a href="https://www.biology.pitt.edu/undergraduate/research/academic-credit"
                    target="_blank">https://www.biology.pitt.edu/undergraduate/research/academic-credit</a>
            </li>
        </ul>
    </div>
</div>

<!-- Honors Research -->
<div class="card mt-4">
    <h3 class="card-header">Honors Research</h3>
    <div class="card-body">
        <h5 class="card-title">Psychology</h5>
        <ul>
            <li>
                <a href="http://www.psychology.pitt.edu/undergraduate/experiential-learning/honors-psychology"
                    target="_blank">http://www.psychology.pitt.edu/undergraduate/experiential-learning/honors-psychology</a>
            </li>
        </ul>
        <hr>
        <h5 class="card-title">Biological Sciences</h5>
        <ul>
            <li>
                <a href="https://www.biology.pitt.edu/undergraduate/research/academic-credit"
                    target="_blank">https://www.biology.pitt.edu/undergraduate/research/academic-credit</a>
            </li>
        </ul>
    </div>
</div>