  <p>
          Below is a list of some of our cancer centers. <br />
        </p>
        <form>
          <div class="card">
           <a href="https://www.cancer.gov/"> <font color="#FFFFFF"> <h5 class="card-header" >National Cancer Institute </h5></font></a>
           
            <div class="card-body">
             <p>
               <b>Description: Sponsor of research study and provides general information
                 <br/><br/>
                 Call: 1-800-4-CANCER
               </b>
              </p>
            </div>
          </div>
          <div class="card">
          <a href="https://www.livestrong.org/"><font color="#FFFFFF">  <h5 class="card-header" >Livestrong </h5></font></a>
            <div class="card-body">
             <p>
               <b>
               Description: Provide general information
                 <br/><br/>
                 Call:1-800-496-4402
               </b>
              </p>
            </div>
          </div>
          <div class="card">
         <a href="https://www.ourclubhouse.org/">  <font color="#FFFFFF">  <h5 class="card-header">Our Clubhouse</h5></font></a>
            <div class="card-body">
              <p>
                <b>
                Description: Our clubhouse provides free social support, counseling, classes, and yoga for cancer patients and family members
               <br/><br/> Call: 412-338-1919
                  <br/><br/>Address: <a href ="https://www.google.com/maps/place/2816+Smallman+St,+Pittsburgh,+PA+15222/@40.4575173,-79.9780423,17z/data=!3m1!4b1!4m5!3m4!1s0x8834f3c6089e3bcd:0xf4e93cb665a27e43!8m2!3d40.4575173!4d-79.9758536">
                  2816 Smallman St Pittsburgh, PA 15222</a></b>
                  <img scr="https://cdn.glitch.com/26fee265-d381-4dfc-b295-52f0df84ed22%2F784b6955-330a-42a6-b059-7cfe7f969842.image.png?v=1587271769822">
                
              </p>
          </div>
        
            </div>
          
              </form>