<p>
  Please read the following statements about fatigue.<br />
          Use the scale to indicate how often you have felt that way during <b><u>the past week</u></b>.
</p>

<form class="needs-validation" novalidate>

          <div class="card">
            <h6 class="card-header">1. I feel fatigue.</h6>
            <div class="card-body">
              <div class="form-check">


                <input class="form-check-input" type="radio" name="0" id="invalidCheck01" value="option2" required>
                <label class="form-check-label" for="invalidCheck01">Not at all</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="0" id="invalidCheck02" value="option2" required>
                <label class="form-check-label" for="invalidCheck02">A little bit</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="0" id="invalidCheck03" value="option1" required>
                <label class="form-check-label" for="invalidCheck03">Somewhat</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="0" id="invalidCheck04" value="option2" required>
                <label class="form-check-label" for="invalidCheck04">Quite a bit</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="0" id="invalidCheck05" value="option2" required>
                <label class="form-check-label" for="invalidCheck05">Very much</label>

                <div class="invalid-feedback">
                  Please choose one before submitting.</div>
              </div>

            </div>
          </div>
          <br />
          <div class="card">
            <h6 class="card-header">2. I feel weak all over.</h6>
            <div class="card-body">
              <div class="form-check">


                <input class="form-check-input" type="radio" name="1" id="invalidCheck11" value="option2" required>
                <label class="form-check-label" for="invalidCheck111">Not at all</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="1" id="invalidCheck12" value="option2" required>
                <label class="form-check-label" for="invalidCheck12">A little bit</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="1" id="invalidCheck13" value="option1" required>
                <label class="form-check-label" for="invalidCheck13">Somewhat</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="1" id="invalidCheck14" value="option2" required>
                <label class="form-check-label" for="invalidCheck14">Quite a bit</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="1" id="invalidCheck15" value="option2" required>
                <label class="form-check-label" for="invalidCheck15">Very much</label>

                <div class="invalid-feedback">
                  Please choose one before submitting.</div>
              </div>

            </div>
          </div>

          <br />
          <div class="card">
            <h6 class="card-header">3. I feel listless (‘washed out’). </h6>
            <div class="card-body">
              <div class="form-check">


                <input class="form-check-input" type="radio" name="2" id="invalidCheck21" value="option2" required>
                <label class="form-check-label" for="invalidCheck21">Not at all</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="2" id="invalidCheck22" value="option2" required>
                <label class="form-check-label" for="invalidCheck22">A little bit</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="2" id="invalidCheck23" value="option1" required>
                <label class="form-check-label" for="invalidCheck23">Somewhat</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="2" id="invalidCheck24" value="option2" required>
                <label class="form-check-label" for="invalidCheck24">Quite a bit</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="2" id="invalidCheck25" value="option2" required>
                <label class="form-check-label" for="invalidCheck25">Very much</label>

                <div class="invalid-feedback">
                  Please choose one before submitting.</div>
              </div>

            </div>
          </div>
          <br />
          <div class="card">
            <h6 class="card-header">4. I feel tired.</h6>
            <div class="card-body">
              <div class="form-check">


                <input class="form-check-input" type="radio" name="3" id="invalidCheck31" value="option2" required>
                <label class="form-check-label" for="invalidCheck31">Not at all</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="3" id="invalidCheck32" value="option2" required>
                <label class="form-check-label" for="invalidCheck32">A little bit</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="3" id="invalidCheck33" value="option1" required>
                <label class="form-check-label" for="invalidCheck33">Somewhat</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="3" id="invalidCheck34" value="option2" required>
                <label class="form-check-label" for="invalidCheck34">Quite a bit</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="3" id="invalidCheck35" value="option2" required>
                <label class="form-check-label" for="invalidCheck35">Very much</label>

                <div class="invalid-feedback">
                  Please choose one before submitting.</div>
              </div>

            </div>
          </div>
          <br />


          <div class="card">
            <h6 class="card-header">5. I have trouble <u>starting</u> things because I am tired.</h6>
            <div class="card-body">
              <div class="form-check">


                <input class="form-check-input" type="radio" name="4" id="invalidCheck41" value="option2" required>
                <label class="form-check-label" for="invalidCheck41">Not at all</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="4" id="invalidCheck42" value="option2" required>
                <label class="form-check-label" for="invalidCheck42">A little bit</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="4" id="invalidCheck43" value="option1" required>
                <label class="form-check-label" for="invalidCheck43">Somewhat</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="4" id="invalidCheck44" value="option2" required>
                <label class="form-check-label" for="invalidCheck44">Quite a bit</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="4" id="invalidCheck45" value="option2" required>
                <label class="form-check-label" for="invalidCheck45">Very much</label>

                <div class="invalid-feedback">
                  Please choose one before submitting.</div>
              </div>
            </div>
          </div>

          <br />
          <div class="card">
            <h6 class="card-header">6. I have trouble <u>finishing</u> things because I am tired. </h6>
            <div class="card-body">
              <div class="form-check">


                <input class="form-check-input" type="radio" name="5" id="invalidCheck51" value="option2" required>
                <label class="form-check-label" for="invalidCheck51">Not at all</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="5" id="invalidCheck52" value="option2" required>
                <label class="form-check-label" for="invalidCheck52">A little bit</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="5" id="invalidCheck53" value="option1" required>
                <label class="form-check-label" for="invalidCheck53">Somewhat</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="5" id="invalidCheck54" value="option2" required>
                <label class="form-check-label" for="invalidCheck54">Quite a bit</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="5" id="invalidCheck55" value="option2" required>
                <label class="form-check-label" for="invalidCheck55">Very much</label>

                <div class="invalid-feedback">
                  Please choose one before submitting.</div>
              </div>
            </div>
          </div>


          <br />
          <div class="card">
            <h6 class="card-header">7. I have energy. </h6>
            <div class="card-body">
              <div class="form-check">


                <input class="form-check-input" type="radio" name="6" id="invalidCheck61" value="option2" required>
                <label class="form-check-label" for="invalidCheck61">Not at all</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="6" id="invalidCheck62" value="option2" required>
                <label class="form-check-label" for="invalidCheck62">A little bit</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="6" id="invalidCheck63" value="option1" required>
                <label class="form-check-label" for="invalidCheck63">Somewhat</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="6" id="invalidCheck64" value="option2" required>
                <label class="form-check-label" for="invalidCheck64">Quite a bit</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="6" id="invalidCheck65" value="option2" required>
                <label class="form-check-label" for="invalidCheck65">Very much</label>

                <div class="invalid-feedback">
                  Please choose one before submitting.</div>
              </div>
            </div>
          </div>



          <br />
          <div class="card">
            <h6 class="card-header">8. I am able to do my usual activities.</h6>
            <div class="card-body">
              <div class="form-check">


                <input class="form-check-input" type="radio" name="7" id="invalidCheck71" value="option2" required>
                <label class="form-check-label" for="invalidCheck71">Not at all</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="7" id="invalidCheck72" value="option2" required>
                <label class="form-check-label" for="invalidCheck72">A little bit</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="7" id="invalidCheck73" value="option1" required>
                <label class="form-check-label" for="invalidCheck73">Somewhat</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="7" id="invalidCheck74" value="option2" required>
                <label class="form-check-label" for="invalidCheck74">Quite a bit</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="7" id="invalidCheck75" value="option2" required>
                <label class="form-check-label" for="invalidCheck75">Very much</label>

                <div class="invalid-feedback">
                  Please choose one before submitting.</div>
              </div>
            </div>
          </div>

          <br />

          <div class="card">
            <h6 class="card-header">9. I need to sleep during the day.</h6>
            <div class="card-body">
              <div class="form-check">


                <input class="form-check-input" type="radio" name="8" id="invalidCheck81" value="option2" required>
                <label class="form-check-label" for="invalidCheck81">Not at all</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="8" id="invalidCheck82" value="option2" required>
                <label class="form-check-label" for="invalidCheck82">A little bit</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="8" id="invalidCheck83" value="option1" required>
                <label class="form-check-label" for="invalidCheck83">Somewhat</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="8" id="invalidCheck84" value="option2" required>
                <label class="form-check-label" for="invalidCheck84">Quite a bit</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="8" id="invalidCheck85" value="option2" required>
                <label class="form-check-label" for="invalidCheck85">Very much</label>

                <div class="invalid-feedback">
                  Please choose one before submitting.</div>
              </div>
            </div>
          </div>

          <br />

          <div class="card">
            <h6 class="card-header">10. I am too tired to eat.</h6>
            <div class="card-body">
              <div class="form-check">


                <input class="form-check-input" type="radio" name="9" id="invalidCheck91" value="option2" required>
                <label class="form-check-label" for="invalidCheck91">Not at all</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="9" id="invalidCheck92" value="option2" required>
                <label class="form-check-label" for="invalidCheck92">A little bit</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="9" id="invalidCheck93" value="option1" required>
                <label class="form-check-label" for="invalidCheck93">Somewhat</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="9" id="invalidCheck94" value="option2" required>
                <label class="form-check-label" for="invalidCheck94">Quite a bit</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="9" id="invalidCheck95" value="option2" required>
                <label class="form-check-label" for="invalidCheck95">Very much</label>

                <div class="invalid-feedback">
                  Please choose one before submitting.</div>
              </div>
            </div>
          </div>

          <br />

          <div class="card">
            <h6 class="card-header">11. I need help doing my usual activities.</h6>
            <div class="card-body">
              <div class="form-check">


                <input class="form-check-input" type="radio" name="10" id="invalidCheck101" value="option2" required>
                <label class="form-check-label" for="invalidCheck101">Not at all</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="10" id="invalidCheck102" value="option2" required>
                <label class="form-check-label" for="invalidCheck102">A little bit</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="10" id="invalidCheck103" value="option1" required>
                <label class="form-check-label" for="invalidCheck103">Somewhat</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="10" id="invalidCheck104" value="option2" required>
                <label class="form-check-label" for="invalidCheck104">Quite a bit</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="10" id="invalidCheck105" value="option2" required>
                <label class="form-check-label" for="invalidCheck105">Very much</label>

                <div class="invalid-feedback">
                  Please choose one before submitting.</div>
              </div>
            </div>
          </div>

          <br />

          <div class="card">
            <h6 class="card-header">12. I am frustrated by being too tired to do the things I want to do.</h6>
            <div class="card-body">
              <div class="form-check">


                <input class="form-check-input" type="radio" name="11" id="invalidCheck111" value="option2" required>
                <label class="form-check-label" for="invalidCheck111">Not at all</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="11" id="invalidCheck112" value="option2" required>
                <label class="form-check-label" for="invalidCheck112">A little bit</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="11" id="invalidCheck113" value="option1" required>
                <label class="form-check-label" for="invalidCheck113">Somewhat</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="11" id="invalidCheck114" value="option2" required>
                <label class="form-check-label" for="invalidCheck114">Quite a bit</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="11" id="invalidCheck115" value="option2" required>
                <label class="form-check-label" for="invalidCheck115">Very much</label>

                <div class="invalid-feedback">
                  Please choose one before submitting.</div>
              </div>
            </div>
          </div>


          <br />

          <div class="card">
            <h6 class="card-header">13. I have to limit my social activity because I am tired. </h6>
            <div class="card-body">

              <div class="form-check">


                <input class="form-check-input" type="radio" name="12" id="invalidCheck121" value="option2" required>
                <label class="form-check-label" for="invalidCheck121">Not at all</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="12" id="invalidCheck122" value="option2" required>
                <label class="form-check-label" for="invalidCheck122">A little bit</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="12" id="invalidCheck123" value="option1" required>
                <label class="form-check-label" for="invalidCheck123">Somewhat</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="12" id="invalidCheck124" value="option2" required>
                <label class="form-check-label" for="invalidCheck124">Quite a bit</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="12" id="invalidCheck125" value="option2" required>
                <label class="form-check-label" for="invalidCheck125">Very much</label>

                <div class="invalid-feedback">
                  Please choose one before submitting.</div>
              </div>




            </div>
          </div>



          <br />

          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
              <label class="form-check-label" for="invalidCheck" >
                <a href="#" onclick="clickMe()">Agree to terms and conditions</a>
              </label>
              &nbsp
<!--               <button onclick="clickMe()">
                view
              </button> -->
              <div class="invalid-feedback">You must agree before submitting.

              </div>
            </div>
          </div>

          <center><button class="btn btn-primary" type="submit">Submit</button></center>

        </form>

<script>
  //disabling form submissions if there are invalid fields
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();


</script>
<script>
  function clickMe() {

    alert("The website is being monitored. All of your information is under well-protection.");
  }


</script>
