<p>
  Brief pain inventory.
</p>

 <form class="needs-validation" novalidate>

                <div class="card">
                    <h6 class="card-header">1.Throughout our lives, most of us have had pain from time to time (such as minor headaches, sprains, and toothaches). Have you had pain other than these everyday kinds of pain today?</h6>
                    <div class="card-body">
                        <div class="form-check">


                            <input class="form-check-input" type="radio" name="0" id="invalidCheck01" value="option2" required>
                            <label class="form-check-label" for="invalidCheck01">Yes</label>

                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input class="form-check-input" type="radio" name="0" id="invalidCheck02" value="option2" required>
                            <label class="form-check-label" for="invalidCheck02">No</label>



                            <div class="invalid-feedback">
                                Please choose one before submitting.</div>
                        </div>

                    </div>
                </div>
                <br />
                <div class="card">
                    <h6 class="card-header">2. On the diagram, choose the area that hurts the most.</h6>
                    <div class="card-body">
                        <div class="form-check">


                            <input class="form-check-input" type="radio" name="1" id="invalidCheck11" value="option2" required>
                            <label class="form-check-label" for="invalidCheck11">Back</label>

                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="1" id="invalidCheck12" value="option2" required>
                            <label class="form-check-label" for="invalidCheck12">Hand</label>

                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="1" id="invalidCheck13" value="option1" required>
                            <label class="form-check-label" for="invalidCheck13">Arm</label>

                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="1" id="invalidCheck14" value="option2" required>
                            <label class="form-check-label" for="invalidCheck14">Leg</label>

                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="1" id="invalidCheck15" value="option2" required>
                            <label class="form-check-label" for="invalidCheck15">Feet</label>

                            <div class="invalid-feedback">
                                Please choose one before submitting.</div>
                        </div>

                    </div>
                </div>

                <br />
                <div class="card">
                    <h6 class="card-header">3. Please rate your pain by circling the one number that best describes your pain at its
                        <strong>worst</strong> in the last 24 hours. </h6>
                    <div class="card-body">
                        <div class="form-check">


                            <input class="form-check-input" type="radio" name="2" id="invalidCheck20" value="option2" required>
                            <label class="form-check-label" for="invalidCheck20">0 &nbsp;&nbsp;&nbsp;</label>

                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck21" value="option2" required>
                            <label class="form-check-label" for="invalidCheck21">1&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck22" value="option2" required>
                            <label class="form-check-label" for="invalidCheck22">2&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck23" value="option1" required>
                            <label class="form-check-label" for="invalidCheck23">3&nbsp;&nbsp;&nbsp;</label>

                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck24" value="option2" required>
                            <label class="form-check-label" for="invalidCheck24">4&nbsp;&nbsp;&nbsp;</label>

                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck25" value="option2" required>
                            <label class="form-check-label" for="invalidCheck25">5&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck26" value="option2" required>
                            <label class="form-check-label" for="invalidCheck25">6&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck27" value="option2" required>
                            <label class="form-check-label" for="invalidCheck25">7&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck28" value="option2" required>
                            <label class="form-check-label" for="invalidCheck25">8&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck29" value="option2" required>
                            <label class="form-check-label" for="invalidCheck25">9&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck210" value="option2" required>
                            <label class="form-check-label" for="invalidCheck25">10</label>
                            <br>
                            <label class="form-check-label" for="invalidCheck21">No pain &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <label class="form-check-label" for="invalidCheck20">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pain as bad as you can imagine</label>
                            <div class="invalid-feedback">
                                Please choose one before submitting.</div>
                        </div>

                    </div>
                </div>
                <br />
                <div class="card">
                    <h6 class="card-header">4. Please rate your pain by circling the one number that best describes your pain at its
                        <strong>least</strong> in the last 24 hours.</h6>
                    <div class="card-body">
                        <div class="form-check">


                            <input class="form-check-input" type="radio" name="2" id="invalidCheck30" value="option2" required>
                            <label class="form-check-label" for="invalidCheck21">0 &nbsp;&nbsp;&nbsp;</label>

                            &nbsp&nbsp&nbsp;&nbsp;&nbsp;
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck31" value="option2" required>
                            <label class="form-check-label" for="invalidCheck22">1&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp;&nbsp;&nbsp;
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck32" value="option2" required>
                            <label class="form-check-label" for="invalidCheck22">2&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck33" value="option1" required>
                            <label class="form-check-label" for="invalidCheck23">3&nbsp;&nbsp;&nbsp;</label>

                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck34" value="option2" required>
                            <label class="form-check-label" for="invalidCheck24">4&nbsp;&nbsp;&nbsp;</label>

                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck35" value="option2" required>
                            <label class="form-check-label" for="invalidCheck25">5&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck36" value="option2" required>
                            <label class="form-check-label" for="invalidCheck25">6&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck37" value="option2" required>
                            <label class="form-check-label" for="invalidCheck25">7&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck38" value="option2" required>
                            <label class="form-check-label" for="invalidCheck25">8&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck39" value="option2" required>
                            <label class="form-check-label" for="invalidCheck25">9&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck310" value="option2" required>
                            <label class="form-check-label" for="invalidCheck25">10</label>
                            <br>
                            <label class="form-check-label" for="invalidCheck21">No pain &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label class="form-check-label" for="invalidCheck20">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pain as bad as you can imagine</label>
                            <div class="invalid-feedback">
                                Please choose one before submitting.</div>
                        </div>

                    </div>
                </div>
                <br />


                <div class="card">
                    <h6 class="card-header">5. Please rate your pain by circling the one number that best describes your pain on
                        the <strong>average</strong>.</h6>
                    <div class="card-body">
                        <div class="form-check">


                            <input class="form-check-input" type="radio" name="2" id="invalidCheck40" value="option2" required>
                            <label class="form-check-label" for="invalidCheck21">0 &nbsp;&nbsp;&nbsp;</label>

                            &nbsp&nbsp&nbsp;&nbsp;&nbsp;
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck41" value="option2" required>
                            <label class="form-check-label" for="invalidCheck22">1&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp;&nbsp;&nbsp;
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck42" value="option2" required>
                            <label class="form-check-label" for="invalidCheck22">2&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck43" value="option1" required>
                            <label class="form-check-label" for="invalidCheck23">3&nbsp;&nbsp;&nbsp;</label>

                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck44" value="option2" required>
                            <label class="form-check-label" for="invalidCheck24">4&nbsp;&nbsp;&nbsp;</label>

                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck45" value="option2" required>
                            <label class="form-check-label" for="invalidCheck25">5&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck46" value="option2" required>
                            <label class="form-check-label" for="invalidCheck25">6&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck47" value="option2" required>
                            <label class="form-check-label" for="invalidCheck25">7&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck48" value="option2" required>
                            <label class="form-check-label" for="invalidCheck25">8&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck49" value="option2" required>
                            <label class="form-check-label" for="invalidCheck25">9&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck410" value="option2" required>
                            <label class="form-check-label" for="invalidCheck25">10</label>
                            <br>
                            <label class="form-check-label" for="invalidCheck21">No pain &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <label class="form-check-label" for="invalidCheck20">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pain as bad as you can imagine</label>
                            <div class="invalid-feedback">
                                Please choose one before submitting.</div>
                        </div>

                    </div>
                </div>

                <br />
                <div class="card">
                    <h6 class="card-header">6. Please rate your pain by circling the one number that tells how much pain you have
                        <strong>right now</strong>.</h6>
                    <div class="card-body">
                        <div class="form-check">


                            <input class="form-check-input" type="radio" name="2" id="invalidCheck50" value="option2" required>
                            <label class="form-check-label" for="invalidCheck21">0 &nbsp;&nbsp;&nbsp;</label>

                            &nbsp&nbsp&nbsp;&nbsp;&nbsp;
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck51" value="option2" required>
                            <label class="form-check-label" for="invalidCheck22">1&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp;&nbsp;&nbsp;
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck52" value="option2" required>
                            <label class="form-check-label" for="invalidCheck22">2&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck53" value="option1" required>
                            <label class="form-check-label" for="invalidCheck23">3&nbsp;&nbsp;&nbsp;</label>

                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck54" value="option2" required>
                            <label class="form-check-label" for="invalidCheck24">4&nbsp;&nbsp;&nbsp;</label>

                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck55" value="option2" required>
                            <label class="form-check-label" for="invalidCheck25">5&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck56" value="option2" required>
                            <label class="form-check-label" for="invalidCheck25">6&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck57" value="option2" required>
                            <label class="form-check-label" for="invalidCheck25">7&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck58" value="option2" required>
                            <label class="form-check-label" for="invalidCheck25">8&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck59" value="option2" required>
                            <label class="form-check-label" for="invalidCheck25">9&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck510" value="option2" required>
                            <label class="form-check-label" for="invalidCheck25">10</label>
                            <br>
                            <label class="form-check-label" for="invalidCheck21">No pain &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label class="form-check-label" for="invalidCheck20">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pain as bad as you can imagine</label>
                            <div class="invalid-feedback">
                                Please choose one before submitting.</div>
                        </div>
                    </div>
                </div>


                <br />
                <div class="card">
                    <h6 class="card-header">7. What treatments or medications are you receiving for your pain? </h6>
                    <div class="card-body">
                        <div class="form-group">
                            <!--<label for="validationTextarea">Textarea</label>-->
                            <textarea class="form-control" id="validationTextarea" rows="3" id="invalidCheck61" placeholder="For example: nonopioids, such as aspirin, NSAIDs, and acetaminophen..." required></textarea>
                        <div class="invalid-feedback">
                                Please answer this question before submitting.</div> 
                      </div>
                    </div>
                </div>



                <br />
                <div class="card">
                    <h6 class="card-header">8. In the last 24 hours, how much relief have pain treatments or medications
                        provided? Please circle the one percentage that most shows how much <strong>relief</strong>
                        you have received.</h6>
                    <div class="card-body">
                        <div class="form-check">


                            <input class="form-check-input" type="radio" name="2" id="invalidCheck70" value="option2" required>
                            <label class="form-check-label" for="invalidCheck21">0% &nbsp;&nbsp;&nbsp;</label>

                            &nbsp&nbsp&nbsp;
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck71" value="option2" required>
                            <label class="form-check-label" for="invalidCheck22">10%&nbsp;&nbsp;&nbsp;</label>

                            &nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck72" value="option1" required>
                            <label class="form-check-label" for="invalidCheck23">20%&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck73" value="option1" required>
                            <label class="form-check-label" for="invalidCheck23">30%&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck74" value="option2" required>
                            <label class="form-check-label" for="invalidCheck24">40%&nbsp;&nbsp;&nbsp;</label>

                            &nbsp;&nbsp;&nbsp;
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck75" value="option2" required>
                            <label class="form-check-label" for="invalidCheck25">50%&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck76" value="option2" required>
                            <label class="form-check-label" for="invalidCheck25">60%&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck77" value="option2" required>
                            <label class="form-check-label" for="invalidCheck25">70%&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck78" value="option2" required>
                            <label class="form-check-label" for="invalidCheck25">80%&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck79" value="option2" required>
                            <label class="form-check-label" for="invalidCheck25">90%&nbsp;&nbsp;&nbsp;</label>
                            &nbsp&nbsp&nbsp
                            <input class="form-check-input" type="radio" name="2" id="invalidCheck710" value="option2" required>
                            <label class="form-check-label" for="invalidCheck25">100%</label>
                            <br>
                            <label class="form-check-label" for="invalidCheck21">No Relief &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label class="form-check-label" for="invalidCheck20">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Complete Relief</label>
                            <div class="invalid-feedback">
                                Please choose one before submitting.</div>
                        </div>
                    </div>
                </div>

                <br />

                <div class="card">
                    <h6 class="card-header">9. Choose the one number that describes how, during the past 24 hours, pain has
                        interfered with your:</h6>
                    <div class="card-body">
                        <div class="card">
                            <h6 class="card-header">A. General Activity</h6>
                            <div class="card-body">
                                <div class="form-check">


                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9A0" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck21">0 &nbsp;&nbsp;&nbsp;</label>

                                    &nbsp&nbsp&nbsp;&nbsp;&nbsp;
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9A1" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck22">1&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp;&nbsp;&nbsp;
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9A2" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck22">2&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9A3" value="option1" required>
                                    <label class="form-check-label" for="invalidCheck23">3&nbsp;&nbsp;&nbsp;</label>

                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9A4" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck24">4&nbsp;&nbsp;&nbsp;</label>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9A5" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">5&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9A6" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">6&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9A7" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">7&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9A8" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">8&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9A9" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">9&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9A10" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">10</label>
                                    <br>
                                    <label class="form-check-label" for="invalidCheck21">Does not Interfere&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                    <label class="form-check-label" for="invalidCheck20">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Completely Interferes</label>
                                    <div class="invalid-feedback">
                                        Please choose one before submitting.</div>
                                </div>

                            </div>
                        </div>
                        <div class="card">
                            <h6 class="card-header">B. Mood</h6>
                            <div class="card-body">
                                <div class="form-check">


                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9B0" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck21">0 &nbsp;&nbsp;&nbsp;</label>

                                    &nbsp&nbsp&nbsp;&nbsp;&nbsp;
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9B1" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck22">1&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp;&nbsp;&nbsp;
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9B2" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck22">2&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9B3" value="option1" required>
                                    <label class="form-check-label" for="invalidCheck23">3&nbsp;&nbsp;&nbsp;</label>

                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9B4" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck24">4&nbsp;&nbsp;&nbsp;</label>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9B5" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">5&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9B6" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">6&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9B7" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">7&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9B8" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">8&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9B9" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">9&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9B10" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">10</label>
                                    <br>
                                    <label class="form-check-label" for="invalidCheck21">Does not Interfere&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                    <label class="form-check-label" for="invalidCheck20">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Completely Interferes</label>
                                    <div class="invalid-feedback">
                                        Please choose one before submitting.</div>
                                </div>

                            </div>
                        </div>
                        <div class="card">
                            <h6 class="card-header">C. Walking Ability</h6>
                            <div class="card-body">
                                <div class="form-check">


                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9C0" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck21">0 &nbsp;&nbsp;&nbsp;</label>

                                    &nbsp&nbsp&nbsp;&nbsp;&nbsp;
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9C1" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck22">1&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp;&nbsp;&nbsp;
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9C2" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck22">2&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9C3" value="option1" required>
                                    <label class="form-check-label" for="invalidCheck23">3&nbsp;&nbsp;&nbsp;</label>

                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9C4" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck24">4&nbsp;&nbsp;&nbsp;</label>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9C5" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">5&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9C6" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">6&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9C7" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">7&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9C8" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">8&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9C9" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">9&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9C10" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">10</label>
                                    <br>
                                    <label class="form-check-label" for="invalidCheck21">Does not Interfere&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                    <label class="form-check-label" for="invalidCheck20">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Completely Interferes</label>
                                    <div class="invalid-feedback">
                                        Please choose one before submitting.</div>
                                </div>

                            </div>
                        </div>
                        <div class="card">
                            <h6 class="card-header">D. Normal Work (includes both work outside the home and housework)</h6>
                            <div class="card-body">
                                <div class="form-check">


                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9D0" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck21">0 &nbsp;&nbsp;&nbsp;</label>

                                    &nbsp&nbsp&nbsp;&nbsp;&nbsp;
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9D1" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck22">1&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp;&nbsp;&nbsp;
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9D2" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck22">2&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9D3" value="option1" required>
                                    <label class="form-check-label" for="invalidCheck23">3&nbsp;&nbsp;&nbsp;</label>

                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9D4" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck24">4&nbsp;&nbsp;&nbsp;</label>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9D5" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">5&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9D6" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">6&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9D7" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">7&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9D8" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">8&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9D9" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">9&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9D10" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">10</label>
                                    <br>
                                    <label class="form-check-label" for="invalidCheck21">Does not Interfere&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                    <label class="form-check-label" for="invalidCheck20">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Completely Interferes</label>
                                    <div class="invalid-feedback">
                                        Please choose one before submitting.</div>
                                </div>

                            </div>
                        </div>
                        <div class="card">
                            <h6 class="card-header">E. Relations with other people</h6>
                            <div class="card-body">
                                <div class="form-check">


                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9E0" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck21">0 &nbsp;&nbsp;&nbsp;</label>

                                    &nbsp&nbsp&nbsp;&nbsp;&nbsp;
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9E1" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck22">1&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp;&nbsp;&nbsp;
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9E2" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck22">2&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9E3" value="option1" required>
                                    <label class="form-check-label" for="invalidCheck23">3&nbsp;&nbsp;&nbsp;</label>

                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9E4" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck24">4&nbsp;&nbsp;&nbsp;</label>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9E5" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">5&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9E6" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">6&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9E7" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">7&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9E8" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">8&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9E9" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">9&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9E10" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">10</label>
                                    <br>
                                    <label class="form-check-label" >Does not Interfere&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                    <label class="form-check-label" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Completely Interferes</label>
                                    <div class="invalid-feedback">
                                        Please choose one before submitting.</div>
                                </div>

                            </div>
                        </div>
                        <div class="card">
                            <h6 class="card-header">F. Sleep</h6>
                            <div class="card-body">
                                <div class="form-check">


                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9F0" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck21">0 &nbsp;&nbsp;&nbsp;</label>

                                    &nbsp&nbsp&nbsp;&nbsp;&nbsp;
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9F1" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck22">1&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp;&nbsp;&nbsp;
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9F2" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck22">2&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9F3" value="option1" required>
                                    <label class="form-check-label" for="invalidCheck23">3&nbsp;&nbsp;&nbsp;</label>

                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9F4" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck24">4&nbsp;&nbsp;&nbsp;</label>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9F5" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">5&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9F6" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">6&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9F7" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">7&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9F8" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">8&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9F9" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">9&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9F10" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">10</label>
                                    <br>
                                    <label class="form-check-label" >Does not Interfere&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                    <label class="form-check-label" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Completely Interferes</label>
                                    <div class="invalid-feedback">
                                        Please choose one before submitting.</div>
                                </div>

                            </div>
                        </div>
                        <div class="card">
                            <h6 class="card-header">G. Enjoyment of life</h6>
                            <div class="card-body">
                                <div class="form-check">


                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9G0" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck21">0 &nbsp;&nbsp;&nbsp;</label>

                                    &nbsp&nbsp&nbsp;&nbsp;&nbsp;
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9G1" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck22">1&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp;&nbsp;&nbsp;
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9G2" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck22">2&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9G3" value="option1" required>
                                    <label class="form-check-label" for="invalidCheck23">3&nbsp;&nbsp;&nbsp;</label>

                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9G4" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck24">4&nbsp;&nbsp;&nbsp;</label>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9G5" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">5&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9G6" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">6&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9G7" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">7&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9G8" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">8&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9G9" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">9&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="form-check-input" type="radio" name="2" id="invalidCheck9G10" value="option2" required>
                                    <label class="form-check-label" for="invalidCheck25">10</label>
                                    <br>
                                    <label class="form-check-label" >Does not Interfere&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                    <label class="form-check-label" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Completely Interferes</label>
                                    <div class="invalid-feedback">
                                        Please choose one before submitting.</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>





                <br />
<p>Copyright 1991 Charles S. Cleeland, PhD
    Pain Research Group
    All rights reserved.</p>
                <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
              <label class="form-check-label" for="invalidCheck" >
                <a href="#" onclick="clickMe()">Agree to terms and conditions</a>
              </label>
              &nbsp
<!--               <button onclick="clickMe()">
                view
              </button> -->
              <div class="invalid-feedback">You must agree before submitting.

              </div>
            </div>
          </div>

                <center><button class="btn btn-primary" type="submit">Submit</button></center>

            </form>

<script>
  //disabling form submissions if there are invalid fields
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();


</script>
<script>
  function clickMe() {

    alert("The website is being monitored. All of your information is under well-protection.");
  }


</script>