<p>
    A number of statements which people have used to describe themselves are given below.
    Please read each statement and then mark the most appropriate choice to the right of
    the statement to indicate how you feel <b><u>right now, at this moment</u></b>. There are no right
    or wrong answers. Do not spend too much time any one statement but give the answer
    which seems to describe your present feelings best.
</p>
<form class="needs-validation" novalidate>

          <div class="card">
            <h6 class="card-header">1. I feel calm</h6>
            <div class="card-body">
              <div class="form-check">


                <input class="form-check-input" type="radio" name="0" id="invalidCheck01" value="option2" required>
                <label class="form-check-label" for="invalidCheck01">Not at all</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="0" id="invalidCheck02" value="option2" required>
                <label class="form-check-label" for="invalidCheck02">Somewhat</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="0" id="invalidCheck03" value="option1" required>
                <label class="form-check-label" for="invalidCheck03">Moderate</label>
                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="0" id="invalidCheck05" value="option2" required>
                <label class="form-check-label" for="invalidCheck05">Very much</label>

                <div class="invalid-feedback">
                  Please choose one before submitting.</div>
              </div>

            </div>
          </div>
          <br />
          <div class="card">
            <h6 class="card-header">2. I feel tense.</h6>
            <div class="card-body">
              <div class="form-check">


                <input class="form-check-input" type="radio" name="1" id="invalidCheck11" value="option2" required>
                <label class="form-check-label" for="invalidCheck111">Not at all</label>
                &nbsp&nbsp&nbsp&nbsp&nbsp

                <input class="form-check-input" type="radio" name="1" id="invalidCheck13" value="option1" required>
                <label class="form-check-label" for="invalidCheck113">Somewhat</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="1" id="invalidCheck14" value="option2" required>
                <label class="form-check-label" for="invalidCheck14">Moderate</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="1" id="invalidCheck15" value="option2" required>
                <label class="form-check-label" for="invalidCheck15">Very much</label>

                <div class="invalid-feedback">
                  Please choose one before submitting.</div>
              </div>

            </div>
          </div>

          <br />
          <div class="card">
            <h6 class="card-header">3. I feel upset. </h6>
            <div class="card-body">
              <div class="form-check">


                <input class="form-check-input" type="radio" name="2" id="invalidCheck21" value="option2" required>
                <label class="form-check-label" for="invalidCheck21">Not at all</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
         
                <input class="form-check-input" type="radio" name="2" id="invalidCheck23" value="option1" required>
                <label class="form-check-label" for="invalidCheck23">Somewhat</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="2" id="invalidCheck24" value="option2" required>
                <label class="form-check-label" for="invalidCheck24">Moderate</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="2" id="invalidCheck25" value="option2" required>
                <label class="form-check-label" for="invalidCheck25">Very much</label>

                <div class="invalid-feedback">
                  Please choose one before submitting.</div>
              </div>

            </div>
          </div>
          <br />
          <div class="card">
            <h6 class="card-header">4. I feel relaxed.</h6>
            <div class="card-body">
              <div class="form-check">


                <input class="form-check-input" type="radio" name="3" id="invalidCheck31" value="option2" required>
                <label class="form-check-label" for="invalidCheck111">Not at all</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
           
                <input class="form-check-input" type="radio" name="3" id="invalidCheck33" value="option1" required>
                <label class="form-check-label" for="invalidCheck33">Somewhat</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="3" id="invalidCheck34" value="option2" required>
                <label class="form-check-label" for="invalidCheck34">Moderate</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="3" id="invalidCheck35" value="option2" required>
                <label class="form-check-label" for="invalidCheck35">Very much</label>

                <div class="invalid-feedback">
                  Please choose one before submitting.</div>
              </div>

            </div>
          </div>
          <br />


          <div class="card">
            <h6 class="card-header">5. I feel content.</h6>
            <div class="card-body">
              <div class="form-check">


                <input class="form-check-input" type="radio" name="4" id="invalidCheck41" value="option2" required>
                <label class="form-check-label" for="invalidCheck41">Not at all</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp

                <input class="form-check-input" type="radio" name="4" id="invalidCheck43" value="option1" required>
                <label class="form-check-label" for="invalidCheck43">Somewhat</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="4" id="invalidCheck44" value="option2" required>
                <label class="form-check-label" for="invalidCheck44">Moderate</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="4" id="invalidCheck45" value="option2" required>
                <label class="form-check-label" for="invalidCheck45">Very much</label>

                <div class="invalid-feedback">
                  Please choose one before submitting.</div>
              </div>
            </div>
          </div>

          <br />
          <div class="card">
            <h6 class="card-header">6. I feel worried. </h6>
            <div class="card-body">
              <div class="form-check">


                <input class="form-check-input" type="radio" name="5" id="invalidCheck51" value="option2" required>
                <label class="form-check-label" for="invalidCheck51">Not at all</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp

                <input class="form-check-input" type="radio" name="5" id="invalidCheck53" value="option1" required>
                <label class="form-check-label" for="invalidCheck53">Somewhat</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="5" id="invalidCheck54" value="option2" required>
                <label class="form-check-label" for="invalidCheck54">Moderate</label>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <input class="form-check-input" type="radio" name="5" id="invalidCheck55" value="option2" required>
                <label class="form-check-label" for="invalidCheck55">Very much</label>

                <div class="invalid-feedback">
                  Please choose one before submitting.</div>
              </div>
            </div>
          </div>


         
          <br />

          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
              <label class="form-check-label" for="invalidCheck" >
                <a href="#" onclick="clickMe()">Agree to terms and conditions</a>
              </label>
              &nbsp
<!--               <button onclick="clickMe()">
                view
              </button> -->
              <div class="invalid-feedback">You must agree before submitting.

              </div>
            </div>
          </div>

          <center><button class="btn btn-primary" type="submit">Submit</button></center>

        </form>

<script>
  //disabling form submissions if there are invalid fields
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();


</script>
<script>
  function clickMe() {

    alert("The website is being monitored. All of your information is under well-protection.");
  }


</script>