<body data-spy="scroll" data-target="#navbar-example"> 
   
    <!--<ul class="nav nav-tabs" role="tablist">-->
<p>
                &nbsp Below here is the list of our transplant institutes:
              </p>
                <nav id="navbar-example" class="navbar navbar-light bg-light">
                 
                  <ul class="nav nav-pills" role="tablist">
                  <li class="nav-item">
                     <a class="nav-link" href="#A">A</a></li>
                  <li class="nav-item">
                  <a class="nav-link" ><font color="#808080">B</font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#C">C</a>
                  </li>
                     <li class="nav-item">
                     <a class="nav-link" href="#D">D</a></li>
                  <li class="nav-item">
                  <a class="nav-link" ><font color="#808080">E</font></a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" ><font color="#808080">F</font></a>
                  </li>
                     <li class="nav-item">
                     <a class="nav-link" ><font color="#808080">G</font></a>
                  <li class="nav-item">
                  <a class="nav-link" ><font color="#808080">H</font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" ><font color="#808080">I</font></a>
                  </li>
                     <li class="nav-item">
                     <a class="nav-link" ><font color="#808080">J</font></a>
                  <li class="nav-item">
                  <a class="nav-link" ><font color="#808080">K</font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#L">L</a>
                  </li> <li class="nav-item">
                    <a class="nav-link" ><font color="#808080">M</font></a>
                  <li class="nav-item">
                  <a class="nav-link" href="#N">N</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#O">O</a>
                  </li>
                     <li class="nav-item">
                    <a class="nav-link" ><font color="#808080">P</font></a>
                  <li class="nav-item">
                  <a class="nav-link" ><font color="#808080">Q</font></a>
                  </li>
                  <li class="nav-item">
                   <a class="nav-link" ><font color="#808080">R</font></a>
                  </li> <li class="nav-item">
                     <a class="nav-link" ><font color="#808080">S</font></a>
                  <li class="nav-item">
                  <a class="nav-link" href="#T">T</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#U">U</a>
                  </li> <li class="nav-item">
                    <a class="nav-link" ><font color="#808080">V</font></a>
                  <li class="nav-item">
                 <a class="nav-link" ><font color="#808080">W</font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" ><font color="#808080">X</font></a>
                  </li> <li class="nav-item">
                    <a class="nav-link" ><font color="#808080">Y</font></a>
                  <li class="nav-item">
                  <a class="nav-link" ><font color="#808080">Z</font></a>
                  </li>
                 
                  
  </ul>
</nav>
<br/>
              <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
                <h4 id="A">A</h4>
                <p> <a href="https://asts.org/">
                  American Society of Transplant Surgeons</a>
                </p>
                <p><a href="https://www.americantransplantfoundation.org/">
                  American Transplant Foundation</a>
                </p>
                <h4 id="C">C</h4>
                <p><a href="https://www.consumeraffairs.com/health/online-pharmacies/#">ConsumerAffairs.com Online Pharmacy </a></p>
                <h4 id="D">D</h4>
                <p><a href="https://www.donatelife.net/">Donate Life America </a></p>
                <h4 id="L">L</h4>
                <p><a href="https://www.lifelinkfoundation.org/"> LifeLink Foundation </a></p>
                <h4 id="N">N</h4>
                <p>
                  <a href="https://www.kidney.org/"> National Kidney Foundation </a>
                </p>
                <p><a href="https://www.livingdonorassistance.org/">National Living Donor Assistance Center</a></p>
                <h4 id="O">O</h4>
                <p><a href="https://www.organdonor.gov/">organdonor.gov </a></p>
                <p>
                  <a href="https://optn.transplant.hrsa.gov"> Organ Procurement and Transplantation Network (OPTN) </a>
                </p>
                <h4 id="T">T</h4>
                <p><a href="https://transplantliving.org/">Transplant Living Web Site </a></p>
                <h4 id="U">U</h4>
                <p>
                  <a href="https://unos.org/">United Network for Organ Sharing</a>
                </p>
                <p><a href="https://www.upmc.com/services/transplant">UPMC</a></p>
              
              </div>
</body>


              